<p class="show text-center" (click)="basicModal.show()"
  mdbWavesEffect>Lire l'avis complet</p>

<div mdbModal #basicModal="mdbModal" disableBackdrop="true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <mdb-card class="my-1">
        <mdb-card-body>
          <mdb-card-title>
            <h4 class="text-center">{{author}}</h4>
            <div class="stars text-center pt-0 mt-0">
              <mat-icon *ngFor="let item of
                        createRange(range)"><i class="bi bi-star-fill"></i></mat-icon>
            </div>
          </mdb-card-title>
          <p class="text-justify mx-auto text-justify col-10 text-review pt-3 notshow mx-0 px-0">{{text}}</p>
          <div class="row pt-0 mt-0">
            <img src="assets/img/google.png" class="col-2 ml-auto pt-0 mt-0">
          </div>
        </mdb-card-body>
      </mdb-card>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect><a href="https://www.google.com/search?q=braxel+avis&oq=braxel+avis&aqs=edge..69i57j69i60.2803j1j4&sourceid=chrome&ie=UTF-8#lrd=0x47c3d1ca3d0b1823:0xed7f36bfed6ac310,1,,," target="_blank" class="text-white">Voir tous les avis</a></button>
      </div>
    </div>
  </div>
</div>