<div *ngIf="propertyList" class="container-fluid animated fadeIn" >
  <div class="row">

    <a *ngFor="let Items of this.propertyList | slice: 0:numberProperty;" class="col-10 col-md-6 col-lg-4 mx-auto"
      routerLinkActive="active" routerLink="/biens-immobiliers/{{Items.ID}}">
      <div class="card h-100 shadow">
        <img class="card-img-top img-fluid" src={{Items.LargePicture}} alt="Large Image propriété mise en location par Braxel, agence immobilière située à Waterloo">
        <span class="ribon" [ngStyle]="{'background':getColor(Items.Goal, Items.SubStatus)}"> {{getStatus(Items.Goal,
          Items.SubStatus)}} </span>
        <span class="ribon-nodal" *ngIf="Items.VirtualTour">{{ 'realisations.3' | translate }}</span>
        <div class="card-block">
          <h5 *ngIf="this.lang === 'fr'" class="card-title">{{Items.TypeDescription}}</h5>
          <h5 *ngIf="this.lang === 'nl'" class="card-title">{{Items.TypeDescriptionNl}}</h5>
          <h5 *ngIf="this.lang === 'en'" class="card-title">{{Items.TypeDescriptionEn}}</h5>
          <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
          <hr>
          <h6>{{toStringPrice(Items.Price)}} {{Items.PriceUnitText}}</h6>
        </div>
      </div>
    </a>
  </div>
</div>

<ng-template>
  Aucune propriété trouvée.
</ng-template>