<div class="container-fluid">
  <div class="row">
    <div *ngIf="topPropertyList" class="card-deck">
      <a *ngFor="let Items of topPropertyList | slice: 0:numberProperty;" class="col-12 col-sm-6 col-md-4 col-xl-4 px-1 my-3 mx-auto" style="width: 18rem;"
        routerLinkActive="active" routerLink="/biens-immobiliers/{{Items.ID}}">
        <div class="card">
          <img class="card-img-top" src={{Items.LargePicture}} alt="Card image cap">
          <span class="ribon" [ngStyle]="{'background':getColor(Items.MarqueeShowOrder)}"> {{getStatus(Items.MarqueeShowOrder)}} </span>
          <div class="card-block">
            <h5 class="card-title">{{Items.TypeDescription}}</h5>
            <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
            <hr>
            <h6>{{toStringPrice(Items.Price)}} {{Items.PriceUnitText}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
