<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <a *ngFor="let Items of topPropertyList | slice: 0:9;" class="col-4 px-1 my-3" style="width: 18rem;"
        routerLinkActive="active" routerLink="biens-immobiliers/{{Items.ID}}">
        <div class="card">
          <img class="card-img-top" src={{Items.LargePicture}} alt="Card image cap">
          <span class="ribon" [ngStyle]="{'background':getColor(Items.Marquee)}"> {{Items.MarqueeName}} </span>
          <div class="card-block">
            <h5 class="card-title">{{Items.TypeDescription}}</h5>
            <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
            <hr>
            <h6>{{Items.Price}} {{Items.PriceUnitText}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>