
<section class="honoraires pt-5">
    <div class="container-fluid pt-5 full-height">
        <div class="row">
            <div class="col-6 ml-auto">
                <img src="assets/img/home.jpg" class="img-fluid">
            </div>
            <div class="col-5 my-auto mr-auto">
<ul>
  <li>
    <input type="checkbox" checked>
    <i></i>
                <h2>
                    Vendre ou louer mon bien
                </h2>
                <h4 class="text-justify">
                    Comment proposer un service immobilier « ALL-IN » et une collaboration sur-mesure, sans appliquer
                    systématiquement le même taux d’honoraires à nos clients ?
                </h4>
                <p class="text-justify">
                    Sans avoir la prétention de révolutionner le courtage immobilier, cette réflexion a été l’élément
                    propulseur de l’agence immobilière Braxel.
                </p>

                <p class="text-justify">
                    Que notre collaboration soit exclusive, co-exclusive ou non exclusive, nous saurons répondre à vos
                    exigences en termes de contrat, vous proposer des honoraires justes et transparents, et toujours
                    vous offrir un éventail complet de services dont voici les détails.
                </p>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </section>


<section class="estimation">
    <div class="container-fluid">
        <div class="row ml-2">
            <div class="col-6 my-auto">

              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                <h2 class="text">
                    Estimation de bien immobilier
                </h2>
                <h4 class="text-justify">
                    Vendre un bien tout comme louer un bien efficacement dépend avant tout d’une estimation immobilière
                    judicieuse. Braxel mène à bien cette étape en 5 points :
                </h4>

                      <p class="text-justify">  <b>Humainement</b> : Cette première entrevue est une opportunité : pour vous de voir si l’entente est
                        bonne, pour nous de comprendre vos besoins.</p>


                          <p class="text-justify"><b>Techniquement</b> : Nos agents combinent l’étude à jour du marché immobilier (quartier par quartier)
                        à l’expertise technique (superficie, dimensions, qualités techniques, standing, rendement,
                        potentiel de transformation, aspect juridique...) Nous sommes également aptes à vous conseiller
                        pour la mise en valeur de votre bien tout en vous évitant les frais inutiles.</p>

                        <p class="text-justify">  <b>Pratiquement</b> : Après vous avoir rencontré et visité le bien en détail, nous réalisons le
                        chiffrage de sa juste valeur, confirmé en collège interne et via nos multiples outils de
                        comparaison. Nous vous partageons notre réflexion du prix estimé, accompagnée d’un rapport
                        complet.</p>

                          <p class="text-justify"><b>Stratégiquement</b> : Sous-estimer un bien est une erreur engendrant une perte directe, sans vendre
                        son bien au meilleur prix.
                        Plus fréquent, surestimer un bien est tout aussi risqué ; le bien se prive des amateurs les plus
                        sérieux, qui repèrent et ignorent les offres dont le prix est « hors marché » la vente de la
                        maison se tire en longueur le bien se brûle sur le marché la vente du bien est réalisée à perte,
                        après diminution(s) du prix !
                        <br>
                        C’est pourquoi il est crucial de bien s’entourer pour obtenir le meilleur prix de marché de son
                        bien immobilier ; nos agents ne vous promettront rien d’inaccessible pour « décrocher la mission
                        », mais privilégieront une expertise intègre et démontrée. </p>

                        <p class="text-justify">  <b>Gratuit et sans engagement</b> : Nous vous transmettons l’ensemble du dossier sur rendez-vous ou par
                        le biais qui vous agrée, dans les 48h de notre rencontre !</p>

                    </li>
                </ul>
            </div>
            <div class="col-6">
                <img src="assets/img/estimation-oui.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="vente text-justify">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <img src="assets/img/braxel_clef.png" class="img-fluid">
            </div>
            <div class="col-6 mr-auto">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                <h2>Vente immobilière</h2>
                <h4>Comment vendre votre bien au meilleur prix tout en respectant le délai souhaité ? </h4>
                <h4>La vente immobilière performante réussie ne s’improvise pas. Elle nécessite un travail pointu de
                    préparation
                    ainsi qu’une solide expérience commerciale. Ce travail est mené à 100% par votre collaborateur de
                    contact,
                    mais toujours avec le support d’une équipe.
                    Notre service est complet :</h4>

                      <p class="text-justify"> <b>Encodage professionnel</b> : Rédaction des descriptifs/supports commerciaux – prise de mesure -
                        tirage
                        photographique professionnel – photos drone – plans 2D/3D – Home staging - visite virtuelle –
                        organisation des divers certificats (PV électrique, énergétique (PEB), cuve à mazout,
                        attestation de
                        sol, urbanisme, …).</p>

                        <p class="text-justify"><b>Commercialisation proactive (48h ouvrables)</b> : activation base de données – relationnel -
                        couverture
                        internet et annonces immobilières performantes (plates-formes spécialisées – site web – réseaux
                        sociaux)
                        – presse spécialisée - prospection de proximité – affichage de terrain - collaborations
                        interprofessionnelles.</p>

                        <p class="text-justify"><b>Traitement des demandes</b> : Réponses réactives et personnalisées aux appels/emails/RDV.</p>

                        <p class="text-justify"><b>Visites flexibles</b> : Visites personnalisées et accompagnées de supports commerciaux. Dans le cas
                        d’un
                        bien vide, les amateurs profitent de toute notre flexibilité. Si le bien est occupé, nous
                        favorisons une
                        collaboration cordiale avec les occupants pour déterminer les meilleurs horaires de visites.</p>

                        <p class="text-justify"><b>Conseils d’orientation</b> : Nous faisons bénéficier les amateurs de notre expérience et de nos
                        conseils
                        (solutions techniques, potentiel d’aménagement, budgétisation, financement, aspect juridique,
                        aspect
                        administratif, aperçu des délais et procédures). Prendre le temps d’analyser leur projet
                        favorise le
                        matching de votre bien.</p>

                      <p class="text-justify">  <b>Transparence</b> : Nous vous tenons informés régulièrement de l’accomplissement de notre mission,
                        analysons
                        les feedbacks clients et trouvons ensemble les meilleures solutions pour rejoindre vos intérêts.</p>

                        <p class="text-justify"><b>Suivi commercial</b> : Le suivi des clients les plus sérieux est mené sérieusement afin d’obtenir
                        une offre
                        d’achat écrite.</p>

                      <p class="text-justify">  <b>Offre et Négociation</b> : Nous vous présentons les offres sérieuses. S’il y a lieu d’envisager une
                        négociation, nous gérons celle-ci au cas par cas, toujours avec votre accord pour mieux défendre
                        vos
                        intérêts.</p>

                        <p class="text-justify"><b>Analyse de sécurité</b> : Analyse des éventuelles clauses suspensives afin de sécuriser la
                        transaction
                        (octroi de crédit, mises en conformité ou aménagements divers,…).</p>

                      <p class="text-justify">  <b>Compromis</b> : rédaction du compromis de vente en collaboration avec les notaires, réponses aux
                        questions,
                        envoi préalable du projet adapté, signature en nos bureaux ou en l’étude instrumentant.</p>

                      <p class="text-justify">  <b>SAV</b> : Accompagnement et support de l’offre d’achat jusqu’à à l’acte authentique, transfert des
                        compteurs
                        et remise des clés. Nous restons à votre écoute ultérieurement pour toute information ou
                        assistance.</p>

                </ul>
            </div>
        </div>
    </div>
</section>

<section class="location text-justify pt-5 ml-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 my-auto">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>

                <h2>Location Immobilière</h2>
                <h4>Comment louer votre bien à un preneur de confiance tout en épargnant le chômage locatif ? La
                    location
                    immobilière est trop souvent délaissée, ou considérée comme une « piste d’essai » pour les nouveaux
                    collaborateurs. Chez nous, le département location constitue un pilier à part entière de notre
                    activité.
                    Vous disposez d’une unique personne de contact, formée et spécialisée pour mener à bien la mission
                    que
                    vous nous confiez.
                    Notre service est complet :
                </h4>

                    <p class="text-justify">       <b>Estimation et conseil</b> : Nous établissons ensemble le meilleur prix pour votre bien et la façon
                        d’en dégager la meilleure impression.</p>

                      <p class="text-justify">     <b>Encodage professionnel</b> : Rédaction des descriptifs/supports commerciaux – tirage photographique
                        professionnel – organisation certificat énergétique PEB. </p>

                      <p class="text-justify">     <b>Commercialisation proactive (48h ouvrables)</b> : activation base de données – relationnel -
                        couverture internet et annonces immobilières performantes (plate-formes spécialisées – site web
                        – réseaux sociaux) – collaboration sociétés de relocation (clientèle internationale) -
                        prospection de proximité – affichage de terrain. </p>

                      <p class="text-justify">     <b>Traitement des demandes</b> : Réponses réactives et personnalisées aux appels/emails/RDV.

                    <p class="text-justify">       <b>Visites flexibles</b> : Visites personnalisées et accompagnées de supports commerciaux. Dans le cas
                        d’un bien vide, les amateurs profitent de toute notre flexibilité. Si le bien est occupé, nous
                        favorisons une collaboration cordiale avec les occupants pour déterminer les meilleurs horaires
                        de visites. </p>

                    <p class="text-justify">       <b>Visites flexibles</b> : Visites personnalisées et accompagnées de supports commerciaux. Dans le cas
                        d’un bien vide, les amateurs profitent de toute notre flexibilité. Si le bien est occupé, nous
                        favorisons une collaboration cordiale avec les occupants pour déterminer les meilleurs horaires
                        de visites. </p>

                    <p class="text-justify">       <b>Suivi commercial</b> : Suivi des clients les plus sérieux afin d’obtenir une candidature écrite.</p>

                      <p class="text-justify">     <b>Candidature</b> : Analyse profonde et juste des candidatures constituées du profil privé du
                        candidat, des références locatives antérieures et des justificatifs de solvabilité. </p>

                    <p class="text-justify">       <b>Contrat de bail</b> : rédaction du contrat, envoi préalable du projet de contrat, réponses aux
                        questions et signature en nos bureaux. </p>

                    <p class="text-justify">       <b>SAV</b>: Enregistrement du bail, coordination de l’état des lieux, suivi du respect des obligations
                        (garantie et assurance locatives), transfert des compteurs et remise des clés. Nous restons
                        ensuite à votre disposition pour toute information ou assistance (question
                        générale/particulière, support, indexation du loyer, …). </p>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <img src="assets/img/home_app.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="recherche pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="assets/img/home_app.png" class="img-fluid">
            </div>
            <div class="col-6 my-auto">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                <h2>Recherche de biens immobiliers</h2>
                <h4>Vous êtes en quête du bien de vos rêves ou d’un investissement sûr ? Votre temps est précieux, vous
                    souhaitez être renseignés et ne visiter que des biens répondant à vos besoins ? Braxel vous offre un
                    service qualitatif pour votre recherche, qu’il s’agisse d’achat immobilier ou de location
                    immobilière.</h4>
                <p>Sur simple demande, nous vous renseignons les offres adéquates dont nous disposons en portefeuille,
                    et ce en exclusivité avant commercialisation tant pour la vente immobilière que pour la location
                    immobilière !</p>
                <p>Inscrire votre recherche chez nous vous permettra également d’être informé des biens immobiliers que
                    nous proposons « out market ».</p>
                <p>Cette inscription est sans engagement et s’arrête sur simple demande.</p>
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="reseau pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 py-5">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                <h2>Réseau Professionel</h2>
                <h4>
                    L’équipe Braxel valorise les collaborations efficaces et transparentes. C’est pourquoi nous avons
                    beaucoup investi à nous entourer de professionnels qui partagent ces mêmes valeurs.
                </h4>
                <p>
                    Cela nous permet de vous faire bénéficier de nos contacts pour chacun de vos besoins liés à
                    l’immobilier (corps de métier, experts, géomètres-experts, certificateurs, notaires, architectes,
                    etc…). Vous les renseigner sur simple demande nous assure que vous soyez entre de bonnes mains, tout
                    comme avec votre agence immobilière !
                </p>
                </li>
                </ul>
            </div>
            <div class="col-6">
                <div class="banner"></div>
            </div>
        </div>
    </div>
</section>
