<app-navbar></app-navbar>



<!-- for >lg -->
<div class="d-none d-lg-block">
  <div class="container-fluid">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="honoraires pb-5">
        <div class="row">
          <div class="jumbotron col-6 d-none d-lg-block my-auto porte play-left">
            <div class="row">
              <div class="col-12 text-center">
                <ng2-odometer class="compteur" [number]="3.5" [format]="'(ddd),d'"></ng2-odometer>
                <p>%</p>
              </div>
              <div class="col-12 text-center">
                <p class="test">{{ 'sellOrBuy.1' | translate }}</p>
              </div>
              <div class="col-12 text-center">
                <ng2-odometer class="compteur" [number]="23" [config]="{ }" [format]="'d'"></ng2-odometer>
                <p class="test"> {{ 'sellOrBuy.2' | translate }}</p>
              </div>
              <div class="col-12 text-center ">
                <p class="test">{{ 'sellOrBuy.3' | translate }}</p>
              </div>
              <div class="col-12 text-center">
                <ng2-odometer class="compteur" [number]="94.5" [format]="'(ddd),d'"></ng2-odometer>
                <p>%</p>
              </div>
              <div class="col-12 text-center">
                <p class="test">{{ 'sellOrBuy.4' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="top text-center">
              {{ 'sellOrBuy.5' | translate }}
            </h2>

            <div>
              <h4>
                {{ 'sellOrBuy.6' | translate }}
              </h4>
            </div>
            <hr class="left col-3">
            <div>
              <p>
                {{ 'sellOrBuy.7' | translate }}
                <br>
                {{ 'sellOrBuy.8' | translate }}
              </p>
              <div class="text-center">
                <h5 class="animated zoomInDown wow">{{ 'sellOrBuy.83" | translate }}
              </h5>
                <a><button class="mx-auto text-center" style="margin-bottom: 1em;" type="button" mdbBtn outline="true"
                    color="danger" rounded="true" size="md">
                    <app-estimation-modal></app-estimation-modal>
                  </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-lg-5 mx-auto">
      <div class="estimation mt-3">
        <div class="row">
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="text-lg-left" style="margin-top:1em;">
              {{ 'sellOrBuy.9' | translate }}
            </h2>
            <h4 class="text-lg-left">
              {{ 'sellOrBuy.10' | translate }}</h4>
            <hr class="left col-3">
            <h5 class="service">{{ 'sellOrBuy.11' | translate }}</h5>
          </div>
          <div class="col-6 d-none d-lg-block slideInRight">
            <img-comparison-slider class="slideInLeft my-0 py-0 my-auto">
              <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="140" viewBox="-8 -3 16 6">
                <path stroke="#C2C1BF" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                  stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
              </svg>
              <figure slot="first" class="before">
                <img width="100%" src="assets/img/Base-comp.jpg">
                <figcaption>{{ 'sellOrBuy.23' | translate }}</figcaption>
              </figure>
              <figure slot="second" class="after">
                <img width="100%" src="assets/img/Final-comp.jpg">
                <figcaption>{{ 'sellOrBuy.24' | translate }}</figcaption>
              </figure>
            </img-comparison-slider>
          </div>
        </div>
        <div class="row pt-0">
          <div class="col-12 col-lg-12 mx-auto">
            <div class="row">
              <div class="col-12 col-lg-6">
                <p> <b>{{ 'sellOrBuy.12' | translate }}</b>
                  {{ 'sellOrBuy.13' | translate }}
                </p>


                <p><b>{{ 'sellOrBuy.14' | translate }}</b>
                  {{ 'sellOrBuy.15' | translate }}
                </p>

                <p> <b>{{ 'sellOrBuy.16' | translate }}</b>
                  {{ 'sellOrBuy.17' | translate }}
                </p>
              </div>
              <div class="col-12 col-lg-6">
                <p><b>{{ 'sellOrBuy.18' | translate }}</b>
                  {{ 'sellOrBuy.19' | translate }}
                  <br>
                  {{ 'sellOrBuy.20' | translate }}
                </p>

                <p> <b>{{ 'sellOrBuy.21' | translate }}</b>
                  {{ 'sellOrBuy.22' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h5 class="animated zoomInDown wow">{{ 'sellOrBuy.83" | translate }} 
        </h5>
          <a><button class="mx-auto text-center" style="margin-bottom: 4em;" type="button" mdbBtn outline="true"
              color="danger" rounded="true" size="md">
              <app-estimation-modal></app-estimation-modal>
            </button></a>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid">
    <section class="col-lg-10 col-12 pt-5 mx-auto">
      <div class="vente">
        <div class="row">
          <div class="col-6 d-none d-lg-block mr-auto my-auto">
            <div
              style="padding:10px;background:#233353;webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;margin:0 auto;overflow:hidden;">
              <iframe style="border-radius: 20px;" class="col-12 nodalview" [src]="url" width="100%" height="100%"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              <div class="text-center text-white">⇧ Tester notre visite virtuelle ⇧</div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mr-auto my-auto">
            <h2 class="text-lg-left">{{ 'sellOrBuy.26' | translate }}</h2>
            <h4>{{ 'sellOrBuy.27' | translate }}
            </h4>
            <h5>{{ 'sellOrBuy.28' | translate }}<br>
            </h5>
            <hr class="left col-3">
            <h5 class="service">{{ 'sellOrBuy.29' | translate }}</h5>
          </div>
        </div>
        <div class="row pt-0">
          <div class="col-12 col-lg-12 mx-auto">
            <div class="row">
              <div class="col-12 col-lg-6">
                <p> <b>{{ 'sellOrBuy.30' | translate }}</b>{{ 'sellOrBuy.31' | translate }}</p>

                <p><b>{{ 'sellOrBuy.32' | translate }}</b>{{ 'sellOrBuy.33' | translate }}</p>

                <p><b>{{ 'sellOrBuy.34' | translate }}</b>{{ 'sellOrBuy.35' | translate }}.</p>

                <p><b>{{ 'sellOrBuy.36' | translate }}</b>{{ 'sellOrBuy.37' | translate }}</p>

                <p><b>{{ 'sellOrBuy.38' | translate }}</b>{{ 'sellOrBuy.39' | translate }}</p>
              </div>
              <div class="col-12 col-lg-6">
                <p><b>{{ 'sellOrBuy.40' | translate }}</b>{{ 'sellOrBuy.41' | translate }}</p>

                <p><b>{{ 'sellOrBuy.42' | translate }}</b>{{ 'sellOrBuy.43' | translate }}</p>

                <p><b>{{ 'sellOrBuy.44' | translate }}</b>{{ 'sellOrBuy.45' | translate }}</p>

                <p><b>{{ 'sellOrBuy.46' | translate }}</b>{{ 'sellOrBuy.47' | translate }}</p>

                <p><b>{{ 'sellOrBuy.48' | translate }}</b>{{ 'sellOrBuy.49' | translate }}</p>

                <p><b>{{ 'sellOrBuy.50' | translate }}</b>{{ 'sellOrBuy.51' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h5 class="animated zoomInDown wow">{{ 'sellOrBuy.83" | translate }} 
        </h5>
          <a><button class="mx-auto text-center" style="margin-bottom: 4em;" type="button" mdbBtn outline="true"
              color="danger" rounded="true" size="md">
              <app-estimation-modal></app-estimation-modal>
            </button></a>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-5 mx-auto">
      <div class="location">
        <div class="row">
          <div class="col-12 col-lg-6 ml-auto my-auto">
            <h2 class="text-lg-left">{{ 'sellOrBuy.52' | translate }}</h2>
            <h4>{{ 'sellOrBuy.53' | translate }}</h4>
            <h5>{{ 'sellOrBuy.54' | translate }}<br></h5>
            <hr class="right col-3">
            <h5 class="service">{{ 'sellOrBuy.55' | translate }}</h5>
          </div>
          <div class="col-6 d-none d-lg-block slideInRight">
            <img-comparison-slider class="slideInLeft my-0 py-0 my-auto">
              <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="140" viewBox="-8 -3 16 6">
                <path stroke="#C2C1BF" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                  stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
              </svg>
              <figure slot="first" class="before">
                <img width="100%" src="assets/img/homestag_2.jpg">
                <figcaption>{{ 'sellOrBuy.23' | translate }}</figcaption>
              </figure>
              <figure slot="second" class="after">
                <img width="100%" src="assets/img/homestag_1.jpg">
                <figcaption>{{ 'sellOrBuy.24' | translate }}</figcaption>

              </figure>
            </img-comparison-slider>
          </div>
        </div>
        <div class="row pt-0">
          <div class="col-12 col-lg-12 mx-auto">
            <div class="row">
              <div class="col-12 col-lg-6">
                <p> <b>{{ 'sellOrBuy.56' | translate }}</b>{{ 'sellOrBuy.57' | translate }}.</p>

                <p> <b>{{ 'sellOrBuy.58' | translate }}</b>{{ 'sellOrBuy.59' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.60' | translate }}</b>{{ 'sellOrBuy.61' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.62' | translate }}</b>{{ 'sellOrBuy.63' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.64' | translate }}</b>{{ 'sellOrBuy.65' | translate }}</p>
              </div>
              <div class="col-12 col-lg-6">
                <p> <b>{{ 'sellOrBuy.66' | translate }}</b>{{ 'sellOrBuy.67' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.68' | translate }}</b>{{ 'sellOrBuy.69' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.70' | translate }}</b>{{ 'sellOrBuy.71' | translate }}</p>

                <p> <b>{{ 'sellOrBuy.72' | translate }}</b>{{ 'sellOrBuy.73' | translate }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <h5 class="animated zoomInDown wow"> {{ 'sellOrBuy.83" | translate }}
          </h5>
          <a><button class="mx-auto text-center" style="margin-bottom: 4em;" type="button" mdbBtn outline="true"
              color="danger" rounded="true" e size="md">
              <app-estimation-modal></app-estimation-modal>
            </button></a>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid">
    <section class="col-lg-10 col-12 pt-5 mx-auto">
      <div class="recherche">
        <div class="row text-justify">
          <div class="d-none d-md-block col-6 mr-auto">
            <img src="assets/img/house.webp" class="img-fluid slideInLeft" alt="location immobiliere waterloo">
          </div>
          <div class="col-12 col-md-6 my-auto">

            <h2>{{ 'sellOrBuy.74' | translate }}</h2>
            <h4>{{ 'sellOrBuy.75' | translate }}</h4>
            <hr class="left col-3">
            <p>{{ 'sellOrBuy.76' | translate }}</p>
            <div class="text-center">
              <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
              <a><button class="mx-auto text-center" style="margin-bottom: 4em;" type="button" mdbBtn outline="true"
                  color="danger" rounded="true" size="md">
                  <app-estimation-modal></app-estimation-modal>
                </button></a>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="container-fluid pb-5" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-lg-5 mx-auto">
      <div class="estimation mt-3">
        <div class="row">
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="text-lg-left">
              {{ 'sellOrBuy.77' | translate }}
            </h2>
            <h4 class="text-lg-left">{{ 'sellOrBuy.78' | translate }}</h4>
            <h5>{{ 'sellOrBuy.79' | translate }}</h5>

            <hr class="right col-3">
            <p>{{ 'sellOrBuy.80' | translate }}</p>
            <div class="text-center">
              <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
              <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger" rounded="true"
                  size="md">
                  <app-estimation-modal></app-estimation-modal>
                </button></a>
            </div>

          </div>
          <div class="col-6 d-none d-lg-block slideInRight network">
            <img src="assets/img/network_blue.jpg" class="col-12 img-fluid network">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<!-- for <lg -->
<div class="d-lg-none">
  <div class="container-fluid">
    <div class="col-12 mx-auto">
      <div class="honoraires pb-5">
        <div class="row">
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="top text-center">
              {{ 'sellOrBuy.5' | translate }}
            </h2>

            <div>
              <h4>
                {{ 'sellOrBuy.6' | translate }}
              </h4>
            </div>
            <hr class="left col-3">
            <div>


              <p style="margin-bottom:-2em;">
                {{ 'sellOrBuy.7' | translate }} <br>
                {{ 'sellOrBuy.8' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
      <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger" rounded="true"
          size="md">
          <app-estimation-modal></app-estimation-modal>
        </button></a>
    </div>
  </div>


  <div class="container-fluid" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-lg-5 mx-auto">
      <div class="estimation mt-3">
        <div class="row">
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="text-lg-left" style="margin-top:2em;">
              {{ 'sellOrBuy.9' | translate }}
            </h2>
            <h4 class="text-lg-left">
              {{ 'sellOrBuy.10' | translate }}</h4>
            <hr class="left col-3">
            <img-comparison-slider class="slideInLeft my-0 py-0 my-auto">
              <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="130" viewBox="-8 -3 16 6">
                <path stroke="#C2C1BF" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                  stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
              </svg>
              <figure slot="first" class="before">
                <img width="100%" src="assets/img/Base-comp.jpg">
                <figcaption>{{ 'sellOrBuy.23' | translate }}</figcaption>
              </figure>
              <figure slot="second" class="after">
                <img width="100%" src="assets/img/Final-comp.jpg">
                <figcaption>{{ 'sellOrBuy.24' | translate }}</figcaption>
              </figure>
            </img-comparison-slider>
            <hr class="right col-3">

            <div class="accordion" id="accordionExample">
              <div class="card mt-3 mb-3">
                <a type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="card-header" id="headingOne">
                    <h5 class="service">{{ 'sellOrBuy.81' | translate }} ⇢</h5>
                  </div>
                </a>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p> <b>{{ 'sellOrBuy.12' | translate }}</b>{{ 'sellOrBuy.13' | translate }}</p>


                    <p><b>{{ 'sellOrBuy.14' | translate }}</b>{{ 'sellOrBuy.15' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.16' | translate }}</b>{{ 'sellOrBuy.17' | translate }}</p>
                    <p><b>{{ 'sellOrBuy.18' | translate }}</b>{{ 'sellOrBuy.19' | translate }} </p>
                    <br>
                    <p>{{ 'sellOrBuy.20' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.21' | translate }}</b>{{ 'sellOrBuy.22' | translate }}</p>
                    <div class="text-center">
                      <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
                      <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger"
                          rounded="true" size="md">
                          <app-estimation-modal></app-estimation-modal>
                        </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid">
    <section class="col-lg-10 col-12 pt-5 mx-auto">
      <div class="vente">
        <div class="row">
          <div class="col-12 col-lg-6 mr-auto my-auto">
            <h2 class="text-lg-left">{{ 'sellOrBuy.26' | translate }}</h2>
            <h4>{{ 'sellOrBuy.27' | translate }}</h4>
            <h5>{{ 'sellOrBuy.28' | translate }}<br>
            </h5>
            <hr class="left col-3">
            <div class="col-12 d-lg-none mr-auto my-auto">
              <iframe style="border-radius: 20px;" [src]="url" width="100%" height="100%" allowfullscreen="true"
                mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              <div class="text-center">⇧ Tester notre visite virtuelle ⇧</div>

            </div>
            <div class="accordion" id="accordionExample">
              <div class="card mt-3 mb-3">
                <a type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="card-header" id="headingOne">
                    <h5 class="service">{{ 'sellOrBuy.82' | translate}} ⇢</h5>
                  </div>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p> <b>{{ 'sellOrBuy.30' | translate }}</b>{{ 'sellOrBuy.31' | translate }}</p>

                    <p><b>{{ 'sellOrBuy.32' | translate }}}</b>{{ 'sellOrBuy.33' | translate }}</p>

                    <p><b>{{ 'sellOrBuy.34' | translate }}</b>{{ 'sellOrBuy.35' | translate }}</p>

                    <p><b>{{ 'sellOrBuy.36' | translate }}</b>{{ 'sellOrBuy.37' | translate }}</p>

                    <p><b>{{ 'sellOrBuy.38' | translate }}</b>{{ 'sellOrBuy.39' | translate }}</p>
                    <p> <b>{{ 'sellOrBuy.40' | translate }}</b>{{ 'sellOrBuy.41' | translate }}</p>
                    <p><b>{{ 'sellOrBuy.42' | translate }}</b>{{ 'sellOrBuy.43' | translate }}</p>
                    <p> <b>{{ 'sellOrBuy.44' | translate }}</b>{{ 'sellOrBuy.45' | translate }}</p>

                    <p><b>{{ 'sellOrBuy.46' | translate }}</b>{{ 'sellOrBuy.47' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.48' | translate }}</b>{{ 'sellOrBuy.49' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.50' | translate }}</b>{{ 'sellOrBuy.51' | translate }}</p>
                    <div class="text-center">
                      <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
                      <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger"
                          rounded="true" size="md">
                          <app-estimation-modal></app-estimation-modal>
                        </button></a>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
              </div>
              <div class="col-12 col-lg-6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="container-fluid" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-5 mx-auto">
      <div class="location">
        <div class="row">
          <div class="col-12 col-lg-6 ml-auto my-auto">
            <h2 class="text-lg-left">{{ 'sellOrBuy.52' | translate }}</h2>
            <h4>{{ 'sellOrBuy.53' | translate }}</h4>
            <h5>{{ 'sellOrBuy.54' | translate }}<br>
            </h5>
            <hr class="left col-3">
            <img-comparison-slider class="slideInLeft my-0 py-0 my-auto">
              <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="130" viewBox="-8 -3 16 6">
                <path stroke="#C2C1BF" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                  stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
              </svg>
              <figure slot="first" class="before">
                <img width="100%" src="assets/img/homestag_2.jpg">
                <figcaption>{{ 'sellOrBuy.23' | translate }}</figcaption>
              </figure>
              <figure slot="second" class="after">
                <img width="100%" src="assets/img/homestag_1.jpg">
                <figcaption>{{ 'sellOrBuy.24' | translate }}</figcaption>
              </figure>
            </img-comparison-slider>
            <hr class="right col-3">
            <div class="accordion" id="accordionExample">
              <div class="card mt-3 mb-3">
                <a type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="card-header" id="headingOne">
                    <h5 class="service">{{ 'sellOrBuy.82' | translate }} ⇢</h5>
                  </div>
                </a>

                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p> <b>{{ 'sellOrBuy.56' | translate }}</b>{{ 'sellOrBuy.57' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.58' | translate }}</b>{{ 'sellOrBuy.59' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.60' | translate }}</b>{{ 'sellOrBuy.61' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.62' | translate }}</b>{{ 'sellOrBuy.63' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.64' | translate }}</b>{{ 'sellOrBuy.65' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.66' | translate }}</b>{{ 'sellOrBuy.67' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.68' | translate }}</b>{{ 'sellOrBuy.69' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.70' | translate }}</b>{{ 'sellOrBuy.71' | translate }}</p>

                    <p> <b>{{ 'sellOrBuy.72' | translate }}</b>{{ 'sellOrBuy.73' | translate }}</p>

                    <div class="text-center">
                      <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
                      <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger"
                          rounded="true" size="md">
                          <app-estimation-modal></app-estimation-modal>
                        </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid">
    <section class="col-lg-10 col-12 pt-5 mx-auto">
      <div class="recherche">
        <div class="row">
          <div class="d-none d-md-block col-6 mr-auto">
            <img src="assets/img/house.webp" class="img-fluid slideInLeft" alt="location immobiliere waterloo">
          </div>
          <div class="col-12 col-md-6 my-auto">

            <h2 class="text-lg-left">{{ 'sellOrBuy.74' | translate }}</h2>
            <h4>{{ 'sellOrBuy.75' | translate }}</h4>
            <hr class="left col-3">
            <p>{{ 'sellOrBuy.76' | translate }}</p>

            <div class="text-center">
              <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
              <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger" rounded="true"
                  size="md">
                  <app-estimation-modal></app-estimation-modal>
                </button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="container-fluid pb-5" style="background-color:#F5F5F5">
    <section class="col-12 col-lg-10 pt-lg-5 mx-auto">
      <div class="estimation mt-3">
        <div class="row">
          <div class="col-12 col-lg-6 my-auto">
            <h2 class="text-lg-left" style="margin-top:1.5em;">
              {{ 'sellOrBuy.77' | translate }}
            </h2>
            <h4 class="text-lg-left">{{ 'sellOrBuy.78' | translate }}</h4>
            <h5>{{ 'sellOrBuy.79' | translate }}</h5>

            <hr class="right col-3">
            <p>{{ 'sellOrBuy.80' | translate }}</p>

          </div>
          <div class="col-6 d-none d-lg-block slideInRight network">
            <img src="assets/img/network_blue.jpg" class="col-12 img-fluid network">
          </div>
        </div>
      </div>
      <div class="text-center">
        <h5 class="animated zoomInDown wow">Convaincu de notre méthode ?</h5>
        <a><button class="mx-auto text-center" type="button" mdbBtn outline="true" color="danger" rounded="true"
            size="md">
            <app-estimation-modal></app-estimation-modal>
          </button></a>
      </div>
    </section>
  </div>
</div>


<app-footer></app-footer>