<app-navbar></app-navbar>
<section class="faq pt-5 mt-5">
    <div class="container pt-5">
        <h1>
            {{ 'faq.1' | translate }}
        </h1>
        <h3>{{ 'faq.2' | translate }}</h3>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.3' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{ 'faq.4' | translate }}</p>
                                <p>
                                    {{ 'faq.5' | translate }}
                                </p>
                                <p>
                                    {{ 'faq.6' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.7' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{ 'faq.8' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseThree">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.9' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.10' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseFour">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.11' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.12' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFive">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.13' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.14' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseSix">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.15' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.16' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                            aria-controls="collapseSeven">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.17' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseSeven" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.18' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                            aria-controls="collapseEight">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.19' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseEight" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.20' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                            aria-controls="collapseNine">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.21' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseNine" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.22' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                            aria-controls="collapseTen">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'faq.23' | translate }}
                                </h3>
                            </div>
                        </a>

                        <div id="collapseTen" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    {{ 'faq.24' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="question col-12 pb-3 mb-5 rounded">
                        <h2><i class="bi bi-info-circle"></i> {{ 'faq.25' | translate }}</p>

                        <div class="row">
                            <button type="button" routerLink="/contact"
                                class="btn btn-braxel-rouge col col-md-2 text-center ml-2">{{ 'faq.26' | translate }}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>