<section class="faq pt-5 mt-5 fullheight">
    <div class="container pt-5">
        <h1>
            F.A.Q
        </h1>
        <h2>Trouvez réponses à vos questions.</h2>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Quels documents légaux sont obligatoires lors de la mise en vente ou en location de
                                    mon bien immobilier ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p> La mise en vente ou en location d’un bien immobilier nécessite, de plus en plus, la
                                    production de plusieurs documents avant toutes publications. </p>
                                <p>
                                    Par exemple, la présence d’un certificat énergétique est obligatoire et son absence
                                    peut engendrer une amende.
                                </p>
                                <p>
                                    L’agence immobilière Braxel est entourée de professionnels d'expérience pour tous
                                    les domaines nécessaires (certificats divers, géomètre, notaires,...). Nous vous
                                    aiderons pour chaque étape légale de la commercialisation de votre bien.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Qu’est-ce que le dossier d’intervention ultérieur ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p> Au plus tard pour le jour de l’acte authentique de vente, il est obligatoire de
                                    remettre un dossier d’intervention ultérieure à l’acquéreur de votre bien.
                                    Sorte de carnet d’entretien du bien, cette obligation a été mise en place en 2001 et
                                    doit contenir le détail des travaux effectués, intervenants et matériaux utilisés.
                                    Que vous installiez une nouvelle cuisine, changiez la chaudière ou rafraichissiez
                                    simplement les peintures, tâchez de toujours garder un descriptif des travaux et les
                                    factures prouvant ceux-ci.
                                    Dans tous les cas, ne vous inquiétez pas, votre agent Braxel vous aidera à établir
                                    avec vous l’ensemble des documents à transmettre dans le cadre d’une vente
                                    immobilière. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseThree">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    En tant que bailleur, comment enregistrer son bail de résidence principale ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    L’obligation d’enregistrement du contrat de bail n’est pas neuve. Le défaut
                                    d’enregistrement dans le délai imposé peut avoir des conséquences catastrophiques
                                    pour le bailleur. Louer un bien implique la signature d’un contrat de bail
                                    accompagné d’un état des lieux détaillé et impartial, le tout enregistré.
                                    Ce type de démarche est entièrement pris en charge par votre agence immobilière
                                    Braxel.
                                    Non, notre service ne s’arrête pas à la signature du bail.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseFour">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Comment puis-je faire évaluer mon bien en vente ou en location par un agent
                                    immobilier Braxel?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Rien de plus simple ! Contactez-nous par mail à info@braxel.be ou par téléphone au
                                    02/319.51.51. Nous nous ferons un plaisir de vous rencontrer sur place et de vous
                                    faire part de notre analyse à travers un rapport détaillé.
                                    Ce service est entièrement gratuit et sans engagement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFive">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Propriétaire bailleur, Je souhaite occuper mon bien en location ? Quand pourrais-je
                                    l'occuper ? Quelles démarches dois-je mettre en place?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    En tant que propriétaire, vous avez toujours la possibilité d'habiter votre bien
                                    loué. De manière générale, le bailleur peut mettre fin au bail pour diverses
                                    raisons, dont les plus rencontrées sont l’occupation personnelle et la cause de gros
                                    travaux. Le préavis et les indemnités éventuelles varient selon le type de contrat
                                    de bail qui a été signé avec le preneur. Nos agents immobiliers se feront un plaisir
                                    de vous aiguiller dans ces démarches afin d’envisager une transition sereine.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseSix">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Comment puis-je acheter un bien en évaluant justement les travaux futurs à
                                    entreprendre ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    En tant que candidat acquéreur n’étant pas professionnel du bâtiment, il n’est pas
                                    toujours aisé d’évaluer justement la valeur des travaux à prévoir pour votre bien
                                    potentiel. Pas de problème, nous pouvons de notre côté vous mettre en contact avec
                                    le professionnel qui vous est nécessaire. De ce fait, vous pourrez budgétiser
                                    judicieusement l’opération dans sa globalité et réagir au plus vite.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                            aria-controls="collapseSeven">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Vu les faibles taux d'intérêts bancaires, je souhaite investir une partie de mon
                                    capital dans l'immobilier. Quel rendement puis-je espérer en Brabant wallon ? À
                                    Bruxelles ? Quel type de bien dois-je viser ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseSeven" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Les taux d’intérêts bancaires étant excessivement bas, de nombreuses personnes
                                    choisissent de dynamiser leurs fonds propres par un emprunt afin d’investir dans de
                                    l’immobilier. La démarche est logique, sûre et mathématique. Pour autant, cet
                                    investissement doit être adapté à vos besoins et vos projets à moyen et long termes.
                                    L’enjeu est de trouver le juste équilibre entre le rendement direct sur loyer, la
                                    plus-value latente du bien et la durée d’investissement prévue. BRAXEL vous
                                    conseillera le juste investissement et vous transmettra en toute transparence le
                                    rendement potentiel de celui-ci.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                            aria-controls="collapseEight">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Je souhaite revendre mon bien immobilier quid de la taxation sur la plus-value ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseEight" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Vous êtes propriétaire en personne physique, en société ? S’agit-il d’une maison ou
                                    d’un appartement neuf, existant depuis plus de 5 ans ? Est-ce un terrain ? Que
                                    puis-je déduire de la base taxable si elle est exigible ?
                                    Répondre à cette question sans connaître votre situation serait tout à fait
                                    approximatif et donc à l’encontre de notre esprit. Le service d’un agent immobilier
                                    ne se résume pas à une somme de démarches administratives et pratiques. Nous
                                    souhaitons vous accompagner de manière complète et précise dans la réflexion globale
                                    de votre démarche.
                                    De manière générale, les immeubles détenus en personne physique ne sont pas taxés
                                    sur la plus-value si l’acte d’achat et l’acte de revente sont espacés de plus de 5
                                    ans. La règle est similaire pour les terrains non-bâtis, pour autant que la période
                                    soit supérieure à 8 ans.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                            aria-controls="collapseNine">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Quels sont les travaux à effectuer avant la mise la mise en vente ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseNine" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Questionnement judicieux, dont l’action en réponse doit l’être tout autant !
                                    Le premier point est d’effectuer les travaux techniques impératifs pour éviter tout
                                    vice caché. Semer le doute peut engendrer la perte de confiance de l’acquéreur et se
                                    retourner contre vous.
                                    Le second point peut être de faire des travaux ou petits rafraîchissements utiles à
                                    mettre en valeur votre bien, mais ici aussi prudence ; il faut d’une part préserver
                                    votre rentabilité et d’autre part laisser la faculté au candidat d’optimiser le
                                    potentiel de votre bien, à sa façon.
                                    L’expertise des agents Braxel en la matière est à votre disposition pour éviter les
                                    faux pas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                            aria-controls="collapseTen">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    Puis-je payer une partie de mon achat immobilier en liquide ?
                                </h3>
                            </div>
                        </a>

                        <div id="collapseTen" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    La réponse est non. La loi anti-blanchiment d’argent est très claire à ce sujet, le
                                    prix de vente d’un bien doit être acquitté par un virement ou un chèque bancaire
                                    certifié.
                                    Il est également imposé que le numéro du compte depuis lequel l’argent a été débité,
                                    à l’instar du compte crédité, soit mentionné dans la convention sous seing privé et
                                    dans l’acte de vente définitif. C’est autant le cas pour le paiement du prix total
                                    que pour le versement mais d’un acompte. Si tel n’était pas le cas, le notaire et
                                    l’agent immobilier devront informer la cellule de traitement des informations
                                    financières (CTIF).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
