<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left pt-5">
            <div class="col-xs-12 col-sm-4 col-md-4 ">
                <h5>{{ 'footer.1' | translate }}</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLinkActive="active" routerLink="/"><i class="fa fa-angle-double-right"></i>{{ 'footer.2' | translate }}</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/agence"><i
                                class="fa fa-angle-double-right"></i>{{ 'footer.3' | translate }}</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/services"><i
                                class="fa fa-angle-double-right"></i>{{ 'footer.4' | translate }}</a></li>
                    <li><a routerLinkActive="active" routerLink="/nos-biens"><i class="fa fa-angle-double-right"></i>{{ 'footer.5' | translate }}</a></li>
                    <li><a routerLinkActive="active" routerLink="/realisations"><i
                                class="fa fa-angle-double-right"></i>{{ 'footer.6' | translate }}</a></li>
                    <li><a routerLinkActive="active" routerLink="/faq"><i class="fa fa-angle-double-right"></i>{{ 'footer.7' | translate }}</a></li>
                    <li><a routerLinkActive="active" routerLink="/contact"><i
                                class="fa fa-angle-double-right"></i>{{ 'footer.8' | translate }}</a></li>
                    <li><a data-toggle="modal" data-target="#languages"><i class="fa fa-angle-double-right"></i>
                        {{ 'footer.9' | translate }}
                        </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>{{ 'footer.10' | translate }}</h5>
                <h6>{{ 'footer.11' | translate }}</h6>
                <p>{{ 'footer.12' | translate }}
                    <br>
                    {{ 'footer.13' | translate }}
                </p>
                <h6>{{ 'footer.14' | translate }}</h6>
                <p>
                    +32(0)2.319.51.51
                    <br>
                    <a href="mailto:info@braxel.be">info@braxel.be</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>{{ 'footer.15' | translate }}</h5>
                <a class="nav-link" href="http://www.facebook.com/braxelimmo">
                    <i class="bi bi-facebook"></i>
                </a>

                <a class="nav-link" href="http://www.instagram.com/braxel_immo">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>© 2022 Braxel SPRL. Tous droits réservés</p>
                <p class="h6">{{ 'footer.16' | translate }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="languages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'footer.17' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-modal">{{ 'footer.18' | translate }}
                    <select #langSelect (change)="translate.use(langSelect.value)">
                        <option [value]="'fr'" [selected]="'fr' === translate.currentLang">{{ 'footer.19' | translate }}</option>
                        <option [value]="'en'" [selected]="'en' === translate.currentLang">{{ 'footer.20' | translate }}</option>
                        <option [value]="'nl'" [selected]="'nl' === translate.currentLang">{{ 'footer.21' | translate }}</option>
                    </select>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'footer.22' | translate }}</button>
            </div>
        </div>
    </div>
</div>