<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left pt-5 mt-5">
            <div class="col-xs-12 col-sm-4 col-md-4 ">
                <h5>Menu</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a>
                    </li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Agence</a>
                    </li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Vendre ou
                            louer</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Nos
                            biens</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Nos
                            réalisations</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Une
                            question ?</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i
                                class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contact</h5>
                <h6>Notre adresse</h6>
                <p>Chée de Tervuren 149/3
                    <br>
                    1410 Waterloo
                </p>
                <h6>Nous joindre</h6>
                <p>
                    +32(0)2.319.51.51
                    <br>
                    info@braxel.be
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Réseaux sociaux</h5>
                <a class="nav-link" href="http://www.facebook.com/braxelimmo">
                    <i class="bi bi-facebook"></i>
                </a>

                <a class="nav-link" href="http://www.instagram.com/braxelimmo">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>© 2021 Braxel SPRL. Tous droits réservés</p>
                <p class="h6">Agents immobiliers agréés 508.871 et 509.783. Instance de contrôle IPI - Rue du
                    Luxembourg, 16b à 1000 Bruxelles - Respect de la vie privée - Code de déontologie</p>
            </div>
        </div>
    </div>
</section>