<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand mr-auto" routerLinkActive="active" routerLink="/"><img class="logo-navbar"
                src='assets/img/logo-top-inverse.png'></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin/top-biens">Biens à la une <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin/top-biens-sell">Biens vendus<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin/avis">Avis<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin/storage">Carousel Home<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>