
<section class="mission">
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-6">
                <div class="banner fullheight"></div>
            </div>
            <div class="col-4 my-auto">
                <h2>
                    Notre mission d'agence immobilière
                </h2>
                <p class="intro">
                    Braxel est votre agence immobilière spécialisée dans la vente et la location, résidentielle ainsi
                    que professionnelle, en Brabant-Wallon (Waterloo, Braine-L’Alleud, Lasne, ...), Brabant-Flamand et
                    sur Bruxelles. Notre principe est clair : nous faisons pour vous ce que nous ferions pour nous, en
                    combinant des valeurs fortes de travail :
                </p>


                <div class="row">
                    <div class="col-6">
                        <h3>
                            Confiance mutuelle
                        </h3>
                        <p>
                            Notre priorité est de vous écouter afin de cibler la réponse à chacun de vos besoins,
                            l’action la plus adaptée à vos projets. Etablir une relation de qualité entre nous est le
                            début d’une aventure humaine pour laquelle nous nous investirons de A à Z.
                        </p>
                    </div>
                    <div class="col-6">
                        <h3>
                            Stratégie sur mesure
                        </h3>
                        <p>
                            À l’instar de nos clients, chaque bien est unique. L’élaboration de notre stratégie
                            commerciale allie parfaite maitrise du marché local, plan de commercialisation répondant à
                            vos attentes et outils performants. Le seul dénominateur commun ? L’excellence du résultat.
                        </p>
                    </div>
                    <div class="col-6">
                        <h3>
                            Honoraires adaptés
                        </h3>
                        <p>
                            Proposer un service complet ne veut pas dire payer plus. C’est même le contraire, plus vous
                            nous accordez votre confiance moins nos honoraires sont élevés : la logique Braxel. Vous
                            offrir plus en vous demandant moins, c’est possible !
                        </p>
                    </div>
                    <div class="col-6">
                        <h3>
                            Expérience
                        </h3>
                        <p>
                            Que vous soyez propriétaire, amateur en recherche ou simplement en quête d’un conseil
                            personnalisé, l’équipe Braxel est à votre service, composée de professionnels d’expérience,
                            réactifs et déterminés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="charte pt-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 my-auto">
                <div class="ml-5">
                    <h2>
                        Charte de notre agence immobilière
                    </h2>
                    <p>
                        Mener à bien notre mission implique le respect rigoureux d’une éthique dont nous vous partageons
                        les
                        engagements principaux :
                    </p>
                    <ul>
                        <li>
                            Professionnel par vocation : Faire partie de l’équipe Braxel nécessite passion et
                            engagement.
                            Agents agréés IPI, ils en respectent les prescriptions et la déontologie ; plus qu’une
                            obligation, une vision partagée.
                        </li>
                        <li>
                            Vous conseiller : Prendre le temps de vous écouter et de répondre à vos interrogations en
                            matière immobilière n’a pas de prix.
                        </li>
                        <li>
                            Vous sécuriser : De la première rencontre à la remise des clés, votre agent Braxel reste à
                            vos
                            côtés pour garantir la sauvegarde de vos intérêts.
                        </li>
                        <li>
                            Vous faire bénéficier de notre flexibilité : durant et en dehors des heures d’ouverture, par
                            téléphone, email ou sur RDV. Et la ponctualité ? L’exactitude est la politesse des rois !
                        </li>
                        <li>
                            Vous assurer de notre honnêteté, toujours : Propriétaire ou candidat, la sincérité dans nos
                            relations commerciales est primordiale. Le respect de nos engagements écrits et verbaux est
                            de
                            mise. Nos services sont toujours détaillés via un contrat sans surprise, offrant des biens
                            qui
                            le sont tout autant.
                        </li>
                        <li>
                            Vous certifier notre discrétion : nous respectons la confidentialité des informations et
                            adaptons notre travail en fonction.
                        </li>
                        <li>
                            Vous certifier notre discrétion : nous respectons la confidentialité des informations et
                            adaptons notre travail en fonction.
                        </li>
                        <li>
                            Vous garantir notre efficacité, permanente : notre meilleure satisfaction est la vôtre ! La
                            proactivité déloge le hasard qui n’a pas sa place chez nous.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="banner py-5"></div>
            </div>
        </div>
    </div>
</section>

<section class="presentation">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="assets/img/worker-1.jpg" class="img-fluid">
            </div>
            <div class="col-8 my-auto">
                <h2>Edouard Chevalier</h2>
                <p>Agent immobilier agréé I.P.I. 508.871</p>
                <ul>
                    <li>
                        Tél.‭+32 479 49 81 36‬
                    </li>
                    <li>
                        E-mailedouard@braxel.be
                    </li>
                </ul>
                <p class="text-justify">
                    La passion de l’immobilier a poussé Edouard à s’y engager en 2010 au sein d’une agence locale,
                    travaillant activement à son développement, avant de fonder en 2017 avec Thomas l’agence immobilière
                    Braxel. Sa faculté d’apporter le résultat escompté à vos projets a pour origine, la préférence de se
                    consacrer exclusivement au courtage immobilier. Ce choix professionnel lui a permis de développer
                    les compétences adéquates pour toute opération de vente ou de location immobilière. C’est avec le
                    même plaisir et un sens du service « 2.0 » qu’il envisage chaque nouvelle collaboration !
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="assets/img/worker-1.jpg" class="img-fluid">
            </div>
            <div class="col-8 my-auto">
                <h2>Thomas Offergeld</h2>
                <p>Agent immobilier agréé I.P.I. 509.783</p>
                <ul>
                    <li>
                        Tél.+32 495 94 80 77‬
                    </li>
                    <li>
                        E-mailthomas@braxel.be
                    </li>
                </ul>
                <p class="text-justify">
                    Actif dans le secteur de l’immobilier depuis 2014. Son expérience dans la location, la vente
                    résidentielle et la promotion neuve lui permettra de vous conseiller avec pertinence. Diplômé d'un
                    Master en sciences de gestion à la LSM (UCL), Thomas s’est d’abord orienté vers le domaine de
                    l’enseignement avant de se tourner vers l’immobilier. Il a alors évolué dans la plus importante
                    structure immobilière de Belgique durant plusieurs années et y a appris le métier par une approche
                    professionnelle et complète.
                </p>
            </div>
        </div>
    </div>
</section>
