<app-navbar></app-navbar>
<section class="mission mt-n5 mt-lg-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-5 d-none d-md-block">
                        <div class="banner"></div>
                    </div>
                    <div class="col-12 col-md-7 my-auto">
                        <h1>{{ 'agency.1' | translate }}</h1>
                        <p class="intro">
                            {{ 'agency.2' | translate }}
                        </p>


                        <div class="row play-right">
                            <div class="col-12 col-md-6">
                                <span class="icon icon-cached"></span>
                                <h3>
                                    {{ 'agency.3' | translate }}
                                </h3>
                                <p class="slide-right">
                                    {{ 'agency.4' | translate }}
                                </p>
                            </div>
                            <div class="col-12 col-md-6">
                                <span class="icon icon-insights"></span>
                                <h3>
                                    {{ 'agency.5' | translate }}
                                </h3>
                                <p>
                                    {{ 'agency.6' | translate }}
                                </p>
                            </div>
                            <div class="col-12 col-md-6">
                                <span class="icon icon-euro"></span>
                                <h3>
                                    {{ 'agency.7' | translate }}
                                </h3>
                                <p>
                                    {{ 'agency.8' | translate }}
                                </p>
                            </div>
                            <div class="col-12 col-md-6">
                                <span class="icon icon-hail"></span>
                                <h3>
                                    {{ 'agency.9' | translate }}
                                </h3>
                                <p>
                                    {{ 'agency.10' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="field mx-auto d-none col-lg-block d-lg-flex">
    <a mdbPageScroll href="#charte" [pageScrollDuration]="550" class="scroll"></a>
</div>


<section class="charte " id="charte">
    <div class="container-fluid d-flex">
        <div class="row justify-content-center align-self-center">
            <div class="col-11 col-md-10 d-flex">
                <div class="row justify-content-center align-self-center">
                    <div class="col-12 col-md-6 my-auto">
                        <h2>
                            {{ 'agency.11' | translate }}
                        </h2>
                        <div class=" slideInLeft">
                            <p>
                                <b style="color:#233353">{{ 'agency.12' | translate }}</b>
                            </p>
                            <ul>
                                <li>
                                    <b>{{ 'agency.13a' | translate }}</b>{{ 'agency.13' | translate }}
                                </li>
                                <li>
                                    <b> {{ 'agency.14a' | translate }}</b>{{ 'agency.14' | translate }}
                                </li>
                                <li>
                                    <b>{{ 'agency.15a' | translate }}</b>{{ 'agency.15' | translate }}
                                </li>
                                <li>
                                    <b>{{ 'agency.16a' | translate }}</b>{{ 'agency.16' | translate }}
                                </li>
                                <li>
                                    <b>{{ 'agency.17a' | translate }}</b>{{ 'agency.17' | translate }}
                                </li>
                                <li>
                                    <b>{{ 'agency.18a' | translate }}</b>{{ 'agency.18' | translate }}
                                </li>
                                <li>
                                    <b>{{ 'agency.19a' | translate }}</b>{{ 'agency.19' | translate }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 d-none d-md-block my-auto">
                        <img class="img-fluid charte" src="/assets/img/charte-2.jpg" alt="Plusieurs mains représentant la charte de l'agence immobilière Braxel, située à Waterloo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="presentation pt-5 mt-5" id="presentation">

    <!--For >lg bootstrap-->
    <div class="container-fluid d-none d-lg-block d-lg-flex">
        <div class="row h-100" id="edouard-lg">
            <div class="col-10 mx-auto h-100">
                <div class="row align-self-center">
                    <div class="col-6" id="edouard-lg">
                        <div class="row">
                            <div class="col-4 my-auto">
                                <img src="assets/img/worker-1.webp" class="img-fluid zoom wow fadeInUp" alt="Edouard Chevalier, agent immobilier pour Braxel, une agence immobilière située à Waterloo"
                                    data-wow-offset="100" style="margin-bottom:1em;">
                            </div>
                            <div class="col-8 nom fadeIn">
                                <h2>Edouard Chevalier</h2>
                                <p>{{ 'agency.20' | translate }}</p>
                                <hr>
                                <ul>
                                    <li class="d-lg-none"><a href="tel:+32 479 49 81 36">
                                            {{ 'agency.21' | translate }}: +32 479 49 81 36</a>
                                    </li>
                                    <div class="d-none d-lg-block">
                                        <li>
                                            {{ 'agency.21' | translate }}: +32 479 49 81 36
                                        </li>
                                    </div>
                                    <li>
                                        {{ 'agency.22' | translate }}: <a
                                            href="mailto:edouards@braxel.be">edouard@braxel.be</a>
                                    </li>
                                </ul>
                                <p class="text-justify">
                                    {{ 'agency.23' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" id="thomas-lg">
                        <div class="row">
                            <div class="col-4 my-auto">
                                <img src="assets/img/worker-2.webp" class="img-fluid zoom wow" data-wow-offset="100" alt="Thomas Offergeld, agent immobilier pour Braxel, une agence immobilière située à Waterloo">
                            </div>
                            <div class="col-8 my-auto slideInRight">
                                <h2>Thomas Offergeld</h2>
                                <p>{{ 'agency.24' | translate }}</p>
                                <hr>
                                <ul>
                                    <li class="d-lg-none">
                                        {{ 'agency.21' | translate }}: <a href="tel:+32 495 94 80 77">  
                                        </a>
                                    </li>
                                    <div class="d-none d-lg-block">
                                        <li>
                                            {{ 'agency.21' | translate }}: +32 495 94 80 77
                                        </li>
                                    </div>
                                    <li>
                                        {{ 'agency.22' | translate }}: <a
                                            href="mailto:thomas@braxel.be">thomas@braxel.be</a>
                                    </li>
                                </ul>
                                <p class="text-justify">
                                    {{ 'agency.25' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-md-5" id="francois-lg">
                        <div class="row">
                            <div class="col-4 my-auto fadeIn">
                                <img src="assets/img/worker-3.webp" class="img-fluid zoom" alt="François Baets, agent immobilier pour Braxel, une agence immobilière située à Waterloo">
                            </div>
                            <div class="col-8 my-auto slideInRight">
                                <h2>François Baets</h2>
                                <p>{{ 'agency.26' | translate }}</p>
                                <hr>
                                <ul>
                                    <li class="d-lg-none">
                                        {{ 'agency.21' | translate }}: <a href="tel:+32 471 44 00 19">+32 471 44 00 19
                                        </a>
                                    </li>
                                    <div class="d-none d-lg-block">
                                        <li>
                                            {{ 'agency.21' | translate }}: +32 471 44 00 19
                                        </li>
                                    </div>
                                    <li>
                                        {{ 'agency.22' | translate }}: <a
                                            href="mailto:francois@braxel.be">francois@braxel.be</a>
                                    </li>
                                </ul>
                                <p class="text-justify">
                                    {{ 'agency.27' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--For <lg bootstrap-->
    <div class="container d-lg-none">
        <div class="row margin-mobile" id="edouard-xs">
            <div class="col-4 my-auto">
                <img src="assets/img/worker-1.webp" class="img-fluid margin-bottom" alt="Edouard Chevalier, agent immobilier pour Braxel, une agence immobilière située à Waterloo">
            </div>
            <div class="col-8 nom">
                <h2>Edouard Chevalier</h2>
                <p>{{ 'agency.20' | translate }}</p>

                <hr>
            </div>
            <ul class="col-10 mx-auto mt-0">
                <li>{{ 'agency.21' | translate }}: <a href="tel: +32 479 49 81 36">+32 479 49 81 36</a> </li>
                <li>
                    {{ 'agency.22' | translate }}: <a href="mailto:edouard@braxel.be">edouard@braxel.be</a>
                </li>
            </ul>
            <p class="text-left col-12">
                {{ 'agency.23' | translate }}
            </p>
        </div>
        <div class="row margin-mobile" id="thomas-xs">
            <div class="col-4 my-auto">
                <img src="assets/img/worker-2.webp" class="img-fluid margin-bottom" alt="Thomas Offergeld, agent immobilier pour Braxel, une agence immobilière située à Waterloo">
            </div>
            <div class="col-8 my-auto">
                <h2>Thomas Offergeld</h2>
                <p>{{ 'agency.24' | translate }}</p>
                <hr>
            </div>
            <ul class="col-10 mx-auto mt-0">
                <li>
                    {{ 'agency.21' | translate }}: <a href="tel: +32 495 94 80 77">+32 495 94 80 77</a>
                </li>
                <li>
                    {{ 'agency.22' | translate }}: <a href="mailto:thomas@braxel.be">thomas@braxel.be</a>
                </li>
            </ul>
            <p class="text-left col-12">
                {{ 'agency.25' | translate }}
            </p>
        </div>
        <div class="row margin-mobile" id="francois-xs">
            <div class="col-4 my-auto">
                <img src="assets/img/worker-3.webp" class="img-fluid margin-bottom" alt="François Baets, agent immobilier pour Braxel, une agence immobilière située à Waterloo">
            </div>
            <div class="col-8 my-auto">
                <h2>François Baets</h2>
                <p>{{ 'agency.26' | translate }}</p>
                <hr>
            </div>
            <ul class="col-10 mx-auto mt-0">
                <li>
                    {{ 'agency.21' | translate }}: <a href="tel: +32 471 44 00 19 ">+32 471 44 00 19 </a>
                </li>
                <li>
                    {{ 'agency.22' | translate }}:<a href="mailto:francois@braxel.be">francois@braxel.be</a>
                </li>
            </ul>

            <p class="text-left col-12">
                {{ 'agency.27' | translate }}
            </p>
        </div>
    </div>
</section>



<app-footer></app-footer>