.container-fluid { max-width: 95% !important }

.topBiens {
    overflow-x : scroll;
    max-height: 100vh !important;
    min-height: 100vh;
}

.btn-primary{
    margin-top: 0.75em !important;
    margin-bottom: 0.75em !important;
    font-size: 0.7em;
}

.select{
    background: green !important;
    color: white !important;
    box-shadow: 0px 16px 9px -5px rgba(0, 0, 0,0.2) !important;
    transform: scale(1.10, 1.10) !important;
}