<app-navbar-admin></app-navbar-admin>
<div class="container-fluid">
  <div class="row">
    <h1 class="col-5 text-center">
      BIENS VENDUS À LA UNE 
    </h1>
  </div>
  <div class="row" *ngIf="show; else notShow">
    <div class="col-10 topBiens">
      <div class="row">
        <a *ngFor="let Items of propertyListSell; let index = index;" class="col-2 px-1 my-3" style="width: 18rem;"
          (click)="selectSwap(index)">
          <div class="card" [ngClass]="{'select': toSwap[0]===index || toSwap[1]===index}">
            <img class="card-img-top" src={{Items.LargePicture}} alt="Card image cap">
            <div class="card-block">
              <h5 class="card-title">{{Items.TypeDescription}}</h5>
              <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
              <hr>
              <h6>{{Items.Price}}</h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <button type="button" class="btn btn-primary col-6" (click)="swap()">Échanger</button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary col-6" (click)="save()">Sauvegarder</button>
      </div>
    </div>
  </div>

  <ng-template #notShow>
    <div class="mt-5 pt-5">
      <button type="button" *ngIf="propertyListSell" class="btn btn-primary col-6" (click)="sort()">Voir les biens</button>
    </div>
  </ng-template>

</div>