.nav-item {
  font-size: 1em;
  font-size: 1.1vw;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 26px;
  padding-left: 12px;
  margin-bottom: 0.5em;
  white-space: nowrap !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-item {
    font-size: 1.2em !important;
    font-size: 4.5vw !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.alerttt {
  z-index: 100;
}

.top-navbar {
  background-color: white !important;
}

.top-navbar .nav-link {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
/* marge alignement avec contact marge edouard */
.marged {
  margin-left: 0.532em !important;
}

.navbar-light {
  background-color: white !important;
}

.logo-navbar {
  max-height: 70px;
  margin-top: -30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-navbar {
    max-height: 35px !important;
    margin-top: -20px !important;
    width: auto;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-navbar {
    max-height: 55px !important;
    margin-top: -20px !important;
    margin-left: -10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-navbar {
    max-height: auto !important;
    max-width: 250px;
    margin-top: -30px !important;
    margin-left: -20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-navbar {
    max-height: 70px !important;
    margin-top: -30px;
    margin-left: 0px;
  }
}

.bg-light {
  background-color: white !important;
}

a {
  color: #233353 !important;
}

img {
  margin: 3%;
}

.btn-contact {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border: none;
  border-radius: 0 0 20px 20px;
  background-color: #233353;
  position: relative;
  cursor: pointer;
}

.shake {
  animation: shake-animation 3.5s ease infinite;
  transform-origin: 50% 50%;
}

.btn-alert {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #ee5c5a;
  border: none;
  border-radius: 0 0 20px 20px;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.btn-alert {
  background-color: #233353;
}

.btn-estimate {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ee5c5a;
  color: white !important;
  border: none;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  font-size: 0.8em;
}

@media screen and (max-width: 1068px) {
  .btn-estimate {
    border-radius: 0 0 20px 20px !important;
    max-width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .btn-estimate {
    max-width: 180px;
    border-radius: 20px 20px 20px 20px !important;
  }
}

@media screen and (min-width: 1068px) {
  .btn-estimate {
    border-radius: 0 0 20px 20px !important;
  }
}

.icon-table_view:before {
  content: "\e90a";
  color: white;
}

.icon-notifications_on:before {
  content: "\e909";
  color: white;
}

ul {
  padding-right: 10%;
}

.active {
  text-decoration: underline;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }

  1.78571% {
    transform: translate(5px, 0);
  }

  3.57143% {
    transform: translate(0, 0);
  }

  5.35714% {
    transform: translate(5px, 0);
  }

  7.14286% {
    transform: translate(0, 0);
  }

  8.92857% {
    transform: translate(5px, 0);
  }

  10.71429% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}

/*menu du bas*/

.nav {
  position: fixed;
  border-top: solid 1.3px rgb(224, 223, 223);
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  z-index: 1;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:active {
  border-top: 2.2px solid #233353 !important;
}

i {
  font-size: 1.5em;
  color: 233353;
}

#tapbar {
  position: fixed;
  bottom: 0;
  -webkit-transition: bottom 0.5s, top 0.5s;
  transition: bottom 0.5s, top 0.5s;
}

.nav__text {
  color: #233353;
}

@media screen and (max-width: 992px) {
  .mt-n6 {
    margin-top: -350px;
  }
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media screen and (max-width: 982px) {
  .navbar-collapse ul {
    position: relative;
    height: 100vh;
    top: 90px;
  }

}
