<app-navbar></app-navbar>
<section id="contact" class="pt-5 mt-5">
  <div class="container pt-5">
    <div class="row">
      <h1 class="col-12 text-center">Contactez-nous</h1>
      <h2 class="col-12 text-center pt-3">CONTACTEZ-NOUS PAR TÉLÉPHONE, E-MAIL OU À L'AIDE DU FORMULAIRE DE
        CONTACT.</h2>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-lg-6">
        <h3 class="mt-5">Nos coordonnées</h3>
        <div class="row">
          <div class="col-6">
            <h4>Adresse :</h4>
            <a src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.4905842298635!2d4.405321215824989!3d50.71083717644921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3d1ca3d0b1823%3A0xed7f36bfed6ac310!2sBraxel%20-%20L&#39;immobilier%20selon%20vous!5e0!3m2!1sfr!2sbe!4v1623146231287!5m2!1sfr!2sbe"
              target=_blank>
              <p class="text-left">
                Chaussée de Tervuren, 149/3
                <br>
                1410 Waterloo
                <br>
                Brabant-Wallon
              </p>
            </a>
          </div>
          <div class="col-6">
            <div class="col-10">
              <h4>Contact :</h4>
              <div class="d-flex">
                <i class="mr-auto bi bi-telephone"></i>
                <a href="tel:+3223195151">02/319.51.51</a>
              </div>
              <div class="d-flex">
                <i class="mr-auto bi bi-envelope"></i>
                <a href="mailto:info@braxel.be">info@braxel.be</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Ouvert sur rendez-vous</h3>
            <p class="text-left">
              <i class="bi bi-check-lg" style="color: #EE5C5A;"></i>
              Du lundi au vendredi de 9h00 à 18h30
              <br>
              <i class="bi bi-check-lg" style="color: #EE5C5A;"></i> Le samedi de 10h à 13h30
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Braxel SPRL</h3>
            <p class="text-left">
              Numéro d’entreprise 0667.970.902
              <br>
              IBAN BE39 3630 2668 2619
              <br>
              Agents immobiliers agréés 508.871 et 509.783
            </p>
            <br>
            <h3>Instance de contrôle IPI</h3>
            <p>Rue du Luxembourg, 16b à 1000 Bruxelles
              <br>
              Tél. : 02/505.38.50 – Email : info@ipi.be
            </p>
            <br>
            <p class="ps">Assureur : couvert par une police d’assurance collective Responsabilité civile
              professionnelle et cautionnement n°730.390.159 conclue par l’IPI auprès d’AXA Belgique
            </p>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <h3 class="mt-5">Formulaire de contact</h3>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nomPrenom">NOM ET PRÉNOM</label>
            <input class="form-control rounded-pill" formControlName="name" aria-describedby="emailHelp"
              placeholder="Nom et prénom">
            <div *ngIf="name.invalid" class="text-danger">
              <div *ngIf="name.errors?.required">
                <div class="invalid-feedback d-block ml-2">Veuillez entrer votre nom et prénom</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="exampleInputPassword1">TÉLÉPHONE</label>
              <input class="form-control rounded-pill" formControlName="phone" placeholder="Téléphone">
              <div *ngIf="phone.invalid" class="text-danger">
                <div *ngIf="phone.errors?.required">
                  <div class="invalid-feedback d-block ml-2">Veuillez entrer votre numéro de téléphone</div>
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="exampleInputPassword1">EMAIL</label>
              <input class="form-control rounded-pill" formControlName="mail" placeholder="Email">
              <div *ngIf="mail.invalid" class="text-danger">
                <div *ngIf="mail.errors?.required">
                  <div class="invalid-feedback d-block ml-2">Veuillez entrer votre adresse mail</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">MESSAGE</label>
            <textarea class="form-control rounded" rows="5" formControlName="message"></textarea>
            <div *ngIf="message.invalid" class="text-danger">
              <div *ngIf="message.errors?.required">
                <div class="invalid-feedback d-block ml-2">Veuillez entrer un message</div>
              </div>
            </div>
          </div>
          <p>
            En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient
            utilisées, exploitées, traitées dans le cadre de la relation commerciale.
          </p>
          <div class="form-check pb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Je souhaite m'inscrire à la
              newsletter</label>
          </div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!contactForm.valid" (click)="basicModal.show()"
            mdbWavesEffect>Envoyer</button>
          <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">Messaye envoyé avec succès</h4>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<section class="agent-immobilier pt-5 mt-5">
  <div class="container">
    <div class="row presentation">
      <div class="col-md-4 col-sm-4">
        <div class="box1 pb-0 mb-0">
          <img src="assets/img/worker-1.jpg" alt="Agent immobilier Braxel à Waterloo, Edouard Chevalier ">
          <h3 class="title">Agent immobilier agréé I.P.I. 508.871</h3>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/edouard-chevalier-027761b3/"><i class="bi bi-linkedin"></i></a>
            </li>
            <li><a href="mailto:edouard@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
          </ul>
        </div>
        <div class="text-center">
          <h4 class="mt-3">Edouard Chevalier</h4>
          <a routerLink="/agence" [fragment]="'edouard'">
            <H5><button type="button" class="btn btn-outline-primary">Plus d'infos</button></H5>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box1 pb-0 mb-0">
          <img src="assets/img/worker-2.jpg" alt="">
          <h3 class="title">Agent immobilier agréé I.P.I. 509.783</h3>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/thomas-offergeld-89277b137/"><i class="bi bi-linkedin"></i></a>
            </li>
            <li><a href="mailto:thomas@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
          </ul>
        </div>
        <div class="text-center">
          <h4 class="mt-3">Thomas Offergeld</h4>
          <a routerLink="/agence" [fragment]="'edouard'">
            <H5><button type="button" class="btn btn-outline-primary">Plus d'infos</button></H5>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box1 pb-0 mb-0">
          <img src="assets/img/worker-3.jpg" alt="">
          <h3 class="title">Agent immobilier agréé I.P.I. 509.783</h3>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/thomas-offergeld-89277b137/"><i class="bi bi-linkedin"></i></a>
            </li>
            <li><a href="mailto:françois@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
          </ul>
        </div>
        <div class="text-center">
          <h4 class="mt-3">François Baets</h4>
          <a routerLink="/agence" [fragment]="'edouard'">
            <h5><button type="button" class="btn btn-outline-primary">Plus d'infos</button></h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <iframe class="container-fluid"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.490767307999!2d4.405321215740837!3d50.710833779512136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3d1ca3d0b1823%3A0xed7f36bfed6ac310!2sBraxel%20-%20L&#39;immobilier%20selon%20vous!5e0!3m2!1sfr!2sbe!4v1621943808052!5m2!1sfr!2sbe"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>





<app-footer></app-footer>