<section id="contact" class="pt-5 mt-5">
    <div class="container pt-5">
        <div class="row">
            <h1 class="col-12 text-center">Contactez-nous</h1>
            <h2 class="col-12 text-center pt-3">CONTACTEZ-NOUS PAR TÉLÉPHONE, E-MAIL OU À L'AIDE DU FORMULAIRE DE
                CONTACT.</h2>
        </div>
        <div class="row pt-5">
            <div class="col-6">
                <h3 class="mt-5">Nos coordonnées</h3>
                <div class="row">
                    <div class="col-6">
                        <h4>Siège social :</h4>
                        <a
                            href="https://www.google.be/maps/place/Braxel+-+L'immobilier+selon+vous/@50.7163513,4.4090794,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3d1ca3d0b1823:0xed7f36bfed6ac310!8m2!3d50.7163479!4d4.4112681" target=_blank>
                            <p class="text-left">
                                Chaussée de Tervuren, 149/3
                                <br>
                                1410 Waterloo
                                <br>
                                Brabant-Wallon
                            </p>
                        </a>
                    </div>
                    <div class="col-6">
                        <div class="col-10">
                            <h4>Contact :</h4>
                            <div class="d-flex">
                                <i class="mr-auto bi bi-telephone"></i>
                                <a href="tel:+3223195151">02/319.51.51</a>
                            </div>
                            <div class="d-flex">
                                <span class="icon-fax mr-auto my-auto"></span>
                                <a href="fax:+323194678">02/319.46.78</a>
                            </div>
                            <div class="d-flex">
                                <i class="mr-auto bi bi-envelope"></i>
                                <a href="mailto:info@braxel.be">info@braxel.be</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>Ouvert sur rendez-vous</h3>
                        <p class="text-left">
                            Du lundi au vendredi de 9h00 à 18h30
                            <br>
                            Le samedi de 10h à 13h30</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>Braxel sprl</h3>
                        <p class="text-left">
                            Numéro d’entreprise 067.970.902
                            <br>
                            IBAN BE39 3630 2668 2619
                            <br>
                            Agents immobiliers agréés 508.871 et 509.783</p>
                            <br>
                            <h3>Instance de contrôle IPI</h3>
                            <p>Rue du Luxembourg, 16b à 1000 Bruxelles
                            <br>
                            Tél. : 02/505.38.50 – Email : info@ipi.be</p>
                            <br>
                            <p class="ps">Assureur : couvert par une police d’assurance collective Responsabilité civile
                            professionnelle et cautionnement n°730.390.159 conclue par l’IPI auprès d’AXA Belgique
                            </p>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <h3 class="mt-5">Formulaire de contact</h3>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">NOM ET PRÉNOM</label>
                        <input class="form-control rounded-pill" aria-describedby="emailHelp"
                            placeholder="Nom et prénom">
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="exampleInputPassword1">TÉLÉPHONE</label>
                            <input class="form-control rounded-pill" placeholder="Téléphone">
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputPassword1">EMAIL</label>
                            <input class="form-control rounded-pill" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">MESSAGE</label>
                        <textarea class="form-control rounded" rows="5"></textarea>
                    </div>
                    <p>
                        En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient
                        utilisées, exploitées, traitées dans le cadre de la relation commerciale.
                    </p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Je souhaite m'inscrire à la
                            newsletter</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</section>
