<ng-template #content let-modal>
    <div class="modal-header" style="background:#F2F2F2">
        <div class="container">
            <div class="row">
                <h1 class="modal-title" id="modal-basic-title">Être contacté pour ce bien</h1>
            </div>
            <div class="row">
                <p>Remplissez le formulaire et nous vous recontacterons dans les plus brefs délais concernant ce bien
                </p>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="notConfirm">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="firstname" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-12">
                        <input type="string" class="form-control" formControlName="firstname" placeholder="Prénom">
                        <div class="row ml-1">
                            <div *ngIf="firstname.invalid" class="text-danger">
                                <div *ngIf="firstname.errors?.required">
                                    <div class="invalid-feedback d-block ml-2">Veuillez entrer un prénom</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLastName" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-12">
                        <input type="string" class="form-control" formControlName="name" placeholder="Nom">
                        <div class="row ml-1">
                            <div *ngIf="name.invalid" class="text-danger">
                                <div *ngIf="name.errors?.required">
                                    <div class="invalid-feedback d-block ml-2">Veuillez entrer un nom</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-12">
                        <input type="email" class="form-control" formControlName="mail" placeholder="E-mail">
                        <div class="row ml-1">
                            <div *ngIf="mail.invalid" class="text-danger">
                                <div *ngIf="mail.errors?.required">
                                    <div class="invalid-feedback d-block ml-2">Veuillez entrer un email</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-12">
                        <input type="phone" class="form-control" formControlName="phone"
                            placeholder="Numéro de Téléphone">
                            <div class="row ml-1">
                                <div *ngIf="firstname.invalid" class="text-danger">
                                    <div *ngIf="firstname.errors?.required">
                                        <div class="invalid-feedback d-block ml-2">Veuillez entrer un numéro de téléphone</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="questions" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-12">
                        <textarea type="text" class="form-control" rows="5"
                            placeholder="Demande(s) spécifique(s)" formControlName="questions"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!notConfirm">
            <p>
                Demande envoyée avec succès
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf="notConfirm" type="button" class="btn btn-outline-primary" (click)="onSubmit()" [disabled]="!contactForm.valid">Nous
            contacter</button>
        <button *ngIf="!notConfirm" type="button" class="btn btn-outline-primary" (click)="modal.close()">Fermer</button>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger ml-3" (click)="open(content)">ÊTRE CONTACTÉ POUR CE BIEN</button>