<div class="container">
    <div class="col-11">
        <div class="row">
            <h2 class="text-center ml-auto col-11 mx-auto">Vous cherchez un bien ?</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="search-form ml-auto pb-3 col-12">
                <div class="row">
                    <div class="text-search-form col-11 text-left">
                        <h3>Je souhaite :</h3>
                    </div>
                    <div class="col-11 mx-auto">
                        <div class="row">
                            <button type="button" *ngFor="let item of items" (click)="toggleClass(item)"
                                [ngClass]="item.select ? 'select' : 'not-select'" class="btn rounded-pill
                        col mx-2">{{item.name}}</button>
                        </div>
                        <div class="row">
                            <div *ngIf="submitted && !goalSelect">
                                <div class="invalid-feedback d-block ml-2">Veuillez choisir une option</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <label class="text-search-form col-11 text-left" for="inlineFormCustomSelectPref">Type
                        de bien :</label>
                    <div class="col-12">
                        <ng-select bindLabel="selectedTypes" [multiple]="true" class="custom" name="selectedTypes">
                            <ng-option *ngFor="let type of types" [value]="type.id" required>{{type.name}}</ng-option>
                        </ng-select>
                        <div class="row">
                            <div *ngIf="submitted">
                                <div class="invalid-feedback d-block ml-2">Veuillez entrer une localité</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <label class="text-search-form col-11 text-left">Localité/Code Postal :</label>
                    <input formControlName="zip" type="text" id="zip" name="zip"
                        class="col-11 mx-auto rounded-pill form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback ml-4">
                        <div *ngIf="f.lastName.errors.required">Veuillez entrer une localité</div>
                    </div>
                    <label class="text-search-form col-2 text-left" for="radius">Rayon (km):</label>
                    <app-slider class="col-9 mx-auto" [options]="sliderRadius"></app-slider>
                </div>
                <div class="row pt-2">
                    <label class="text-search-form col-11 text-left">Chambres :</label>
                    <app-slider class="col-11 mx-auto" [options]="sliderRooms"></app-slider>
                </div>
                <div class="row pt-2">
                    <label class="text-search-form col-11 text-left">Budget :</label>
                    <app-slider class="col-11 mx-auto" [options]="sliderBudget"></app-slider>
                </div>
                <div class="row pt-3 button-search">
                    <button type="button" class="btn1 btn-outline-primary col-7 mx-auto rounded-pill py-2"
                        (click)="onSubmit()">Voir les
                        résultats</button>
                </div>
            </div>
        </form>
    </div>
</div>