<div id="googleReviews"></div>
<section id='reviews'>
    <div class="container pt-3">
        <h1 class="text-center">Nos clients l’expliquent mieux que nous </h1>
        <ngb-carousel *ngIf="isReviews(); else loading" [showNavigationArrows]="true" [interval]="5000">
            <ng-template ngbSlide *ngFor="let review of reviews" class="carousel pb-5">
                <div class="avatar text-center pt-3">
                    <img src="/assets/img/google.png" alt="Avatar" height="50" width="50" />
                </div>
                <h5 class="card-title text-center author">{{ review.author_name }}</h5>
                <div class="stars text-center pt-0 mt-0">
                    <mat-icon *ngFor="let item of
                        createRange(review.rating)"><i class="bi bi-star-fill"></i></mat-icon>
                </div>

                <div class="card-text text-justify mx-auto text-center col-10 text-review pt-3 notshow"
                    [class.show]="show">
                    {{ review.text }}
                </div>
                <p class="text-center mx-auto voir" (click)="show = !show">{{ show ? 'voir moins': 'voir plus' }}</p>
                <h6 class="text-center pt-1">{{ review.relative_time_description }}</h6>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<ng-template #loading>
    <div class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
