<app-navbar></app-navbar>
<section id="nos-biens">
  <div class="container-fluid pt-5 mt-5">
    <div class="row">
      <div class="col-3 mt-5 pt-5">
        <app-search-property class="col-3 mt-5 pt-5"></app-search-property>
      </div>
      <div class="col-8">
        <div class="row pt-5 mt-5">
          <h1 class="col text-center">Nos biens immobiliers</h1>
        </div>
        <app-view-property-list [numberProperty]="numberProperty"></app-view-property-list>
      </div>
      </div>

      <div class="row">
        <button type="button" class="btn btn-outline-danger col-2 mx-auto text-center" (click)="addProperties()">Voir plus de propriétés</button>
      </div>
    </div>

</section>
<app-footer></app-footer>
