<app-navbar></app-navbar>

<div *ngIf="property" class="container mt-5 pt-5">
  <div class="row pt-lg-5 mt-lg-5">
    <h3 *ngIf="property.TypeDescription" class="col-12">{{property.TypeDescription}}</h3>
    <h2 *ngIf="property.City" class="col-5">{{property.Zip}} {{property.City}}</h2>

    <hr class="col-10">
    <div class="col-10 row">
      <h2 *ngIf="property.StartPrice" class="mr-auto col-12">{{toStringPrice(property.Price)}}
        {{property.PriceUnitText}}</h2>
      <p class="price col-12"> Hors droits et taxes diverses</p>
      <a class="nav-link">
        <app-contact-modal class="ml-auto" [id]="property.ID"></app-contact-modal>
      </a>
      <a class="nav-link" *ngIf="property.VirtualTour">
        <app-modal-nodal class="ml-auto" [item]="nodalLink"></app-modal-nodal>
      </a>
    </div>
  </div>



  <div class="bg">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let picture of property.LargePictures ; let i = index" class="slide"
        data-slide-number="i" data-toggle="lightbox" data-gallery="gallery">
        <img src="{{picture}}" class="d-block rounded img-fluid text-center mx-auto" (click)="showLightbox(i)">
      </div>
      <span class="ribon" [ngStyle]="{'background':getColor(property.Goal, property.SubStatus)}" style="z-index:20;">
        {{getStatus(property.Goal,
        property.SubStatus)}} </span>
    </ngx-slick-carousel>
    <div class="row d-none d-md-block" style="margin-top: -400px; margin-bottom: 400px;">
      <div class="col-12">
        <div class="row">
          <a class="carousel-control-prev mr-auto" role="button" data-slide="prev"
            (click)="slickModal.slickPrev()">
            <span class="arrow bi bi-arrow-left-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next ml-auto" role="button" data-slide="prev"
            (click)="slickModal.slickNext()">
            <span class="arrow bi bi-arrow-right-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row d-md-none" style="margin-top: -170px; margin-bottom: 170px;">
      <div class="col-12 d-md-none">
        <div class="row">
          <a class="carousel-control-prev mr-auto" role="button" data-slide="prev"
            (click)="slickModal.slickPrev()">
            <span class="arrow bi bi-arrow-left-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next ml-auto" role="button" data-slide="prev"
            (click)="slickModal.slickNext()">
            <span class="arrow bi bi-arrow-right-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
      </div>
    </div>
    <ngx-slick-carousel class="carousel d-md-none" #slickModalNavXs="slick-carousel" [config]="slideConfigNavXs"
      (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let picture of property.LargePictures; let i = index"
        class="slide mt-5 rounded thumbnail-img text-center mx-auto" data-slide-number="i" data-toggle="lightbox"
        data-gallery="gallery" (click)="slickModal.slickGoTo(i)">
        <img src="{{picture}}" class="d-block rounded img-fluid px-3 thumbnail-img text-center mx-auto">
      </div>
    </ngx-slick-carousel>
    <ngx-slick-carousel class="carousel d-none d-md-block" #slickModalNavXl="slick-carousel" [config]="slideConfigNavXl"
      (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let picture of property.LargePictures; let i = index"
        class="slide mt-5 rounded thumbnail-img text-center mx-auto" data-slide-number="i" data-toggle="lightbox"
        data-gallery="gallery" (click)="slickModal.slickGoTo(i)">
        <img src="{{picture}}" class="d-block rounded img-fluid px-3 thumbnail-img text-center mx-auto">
      </div>
    </ngx-slick-carousel>
    <div class="row d-md-none" style="margin-top: -10px; margin-bottom: 10px; z-index: 10;">
      <div class="col-12 d-md-none">
        <div class="row">
          <a class="carousel-control-prev mr-auto" role="button" data-slide="prev"
            (click)="slickModalNavXs.slickPrev()">
            <span class="arrow bi bi-arrow-left-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next ml-auto" role="button" data-slide="prev"
            (click)="slickModalNavXs.slickNext()">
            <span class="arrow bi bi-arrow-right-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row d-none d-md-block" style="margin-top: -110px; margin-bottom: 110px; z-index: 10;">
      <div class="col-12">
        <div class="row">
          <a class="carousel-control-prev mr-auto" role="button" data-slide="prev"
            (click)="slickModalNavXl.slickPrev()">
            <span class="arrow bi bi-arrow-left-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next ml-auto" role="button" data-slide="prev"
            (click)="slickModalNavXl.slickNext()">
            <span class="arrow bi bi-arrow-right-circle-fill" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
      </div>
    </div>

    <div class="container ">
      <ul class="row px-0 mx-0">
        <div class="col-6 col-md card text-center mx-auto " style="box-shadow: none;">
          <span class="icon-object-ungroup icon"></span>
          <li class="titlecard">Superficie
            <hr> {{property.SurfaceTotal}}
          </li>
        </div>
        <div class="col-6 col-md card text-center mx-1 mx-auto" style="box-shadow: none;">
          <span class="icon-bed icon"></span>
          <li class="titlecard">Chambres
            <hr> {{property.NumberOfBedRooms}}
          </li>
        </div>
        <div class="col-6 col-md card text-center mx-auto" style="box-shadow: none;">
          <span class="icon-bath icon"></span>
          <li class="titlecard">Salle(s) de bains
            <hr> {{property.NumberOfBathRooms}}
          </li>
        </div>
        <div class="col-6 col-md card text-center mx-auto" style="box-shadow: none;">
          <span class="icon-shower icon"></span>
          <li class="titlecard">Salle(s) de douche
            <hr> {{property.NumberOfShowerRooms}}
          </li>
        </div>
        <div class="col-6 col-md card text-center mx-auto" style="box-shadow: none;">
          <span class="icon-automobile icon"></span>
          <li class="titlecard">Garage(s)
            <hr> {{property.NumberOfGarages}}
          </li>
        </div>
        <div class="col-6 col-md card text-center mx-auto" style="box-shadow: none;">
          <span class="icon-desktop_windows icon"></span>
          <li class="titlecard">Bureau(x)
            <hr>
            <div *ngIf="property.IsOffice; else elseBlock">1</div>
            <ng-template #elseBlock>0</ng-template>
          </li>
        </div>
      </ul>
    </div>
  </div>


  <ng-image-fullscreen-view [images]="imageObject" [imageIndex]="selectedImageIndex" [show]="showFlag"
    (close)="closeEventHandler()"></ng-image-fullscreen-view>





  <div class="container pb-3 pt-3">
    <h4>Particularités</h4>
    <div class="row text ">
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.KitchenName"><b>Cuisine</b> : {{property.KitchenName}}
      </div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.WindowGlazing"><b>Vitrage</b> : {{property.WindowGlazing}}
      </div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.OrientationT"><b>Orientation</b> :
        {{property.OrientationT}}
      </div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.HasLift"><b>Ascensceur</b> : Oui</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.Floor"><b>Étage(s)</b> : {{property.Floor}}</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.ConstructionYear"><b>Année de construction</b> :
        {{property.ConstructionYear}}</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.SurfaceTerrace"><b>Terrasse</b> :
        {{property.SurfaceTerrace}}m²</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.ConstructionName"><b>Type de construction</b> :
        {{property.ConstructionName}}</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.HasGarden"><b>Jardin</b> : Oui
        ({{property.SurfaceGarden}}m²)</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.HeatingName"><b>Type de chauffage</b> :
        {{property.HeatingName}}</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.MainStyleName"><b>Type de construction</b> :
        {{property.MainStyleName}}</div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="property.ConditionName"><b>État</b> : {{property.ConditionName}}
      </div>
    </div>
  </div>


  <div class="container pb-5">
    <h4>Description</h4>
    <p class="content text-justify" *ngIf="property.DescriptionA">{{property.DescriptionB}}</p>
  </div>
  <div class="container px-3 pb-5">
    <div *ngIf="lat" class="row">
      <agm-map [latitude]="lat" [longitude]="long" [zoom]="14" [scrollwheel]="false">
        <agm-circle [latitude]="lat" [longitude]="long" [radius]="1100" [fillColor]="'red'">
        </agm-circle>
      </agm-map>
    </div>
  </div>
</div>
<app-footer></app-footer>