<mdb-carousel [isControls]="true" [allowswipe]="true" [noPause]="true" [interval]="6000"
  class="carousel carousel-fade slide" [animation]="'fade'">
  
  <mdb-carousel-item *ngFor="let slide of carousel">
    
    <div class="view">
      <!--Video source-->
      <video *ngIf="slide.type==='video'" class="video-fluid" [muted]="true" playsinline autoplay loop>
        <source src="{{slide.src}}" type="video/mp4" />
      </video>
      <!--end video-->

      <!--Image source-->
      <!--<img *ngIf="slide.type==='img'" class="img-fluid" src="{{slide.src}}" alt="{{slide.alt}}">-->
      <!--end image-->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
      <img *ngIf="carouselImg" class="img-fluid" src="{{carouselImg[0].url}}">
    </div>
  </mdb-carousel-item>

  <div class="carousel-caption">
    <div class="row">
      <div class="overlay mt-6 pt-0 col-10 mx-auto">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner pt-3 mx-auto">
          <!-- Title -->
          <h1 class="overlay__title">
            Vous avez trouvé vos agents immobiliers, de confiance en Brabants et à Bruxelles !
            <hr class="blue">
          </h1>
          <!-- Buttons -->
          <div class="overlay__btns mx-auto">

            <button class="overlay__btn overlay__btn--transparent" routerLinkActive="active" routerLink="/services">
              <span>Vendre/Louer</span>
              <span class="overlay__btn-emoji"></span>
            </button>

            <button class="overlay__btn overlay__btn--colors" routerLinkActive="active" routerLink="/nos-biens">
              <span style="white-space: nowrap;">Rechercher un bien</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</mdb-carousel>
<!--Carousel Wrapper-->