<div class="container-fluid px-0 mx-0 pb-3">
  <div class="row px-0 mx-0 wrapper">
    <ngx-slick-carousel class="carousel col-12 px-0 mx-0 mt-4" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of carousel" class="slide px-0 mx-0">
        <!--Video source-->
        <video *ngIf="slide.type==='video'" class="video-fluid center px-0 mx-0 pt-5 pt-lg-0" [muted]="true" playsinline autoplay loop>
          <source src="{{slide.src}}" type="video/mp4" class="px-0 mx-0" />
        </video>
        <!--end video-->
      </div>
      <div ngxSlickItem class="slide px-0 mx-0">
        <div class="view pb-n5 mb-n5 px-0 mx-0">
          <img *ngIf="carouselImg" class="img-fluid px-0 mx-0" src="{{carouselImg[0].url}}" alt="Agence immobilière">
        </div>
      </div>
      <div ngxSlickItem class="slide px-0 mx-0">
        <div class="view pb-n5 mb-n5 px-0 mx-0">
          <img *ngIf="carouselImg" class="img-fluid px-0 mx-0" src="{{carouselImg[1].url}}" alt="avant/après">
        </div>
      </div>
    </ngx-slick-carousel>
    <span class="bi bi-arrow-left-circle-fill" (click)="slickModal.slickPrev()"></span>
    <span class="bi bi-arrow-right-circle-fill" (click)="slickModal.slickNext()"></span>
    <div class="carousel-caption">
      <div class="row no-gutters d-none d-lg-block">
        <div class="overlay mt-6 pt-0 col-10 mx-auto">
          <!-- Overlay inner wrapper -->
          <div class="overlay__inner pt-0 mx-auto">
            <!-- Title -->
            <h1 class="overlay__title" [translate]="'home.1'">
              {{ 'home.1' | translate }}
              <hr class="blue">
            </h1>
            <!-- Buttons -->
            <div class="overlay__btns mx-auto">
  
              <button class="overlay__btn overlay__btn--transparent" routerLinkActive="active" routerLink="/services">
                <span>{{ 'home.2' | translate }}</span>
                <span class="overlay__btn-emoji"></span>
              </button>
  
              <button class="overlay__btn overlay__btn--colors" routerLinkActive="active" routerLink="/nos-biens">
                <span style="white-space: nowrap;">{{ 'home.3' | translate }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters d-lg-none pt-0 mt-n5 pt-n5 pb-n5">
    <div class="overlay pt-0 col-12 mx-auto mt-n5 pt-n5 mb-n5 pb-n5">
      <!-- Overlay inner wrapper -->
      <div class="pt-0 mx-auto mb-n5 pb-n5 ">
        <!-- Title -->
        <h3 class="overlay__title col-10 mt-3 text-justify mx-auto text-center">
          {{ 'home.1' | translate }}
          <hr class="blue">
        </h3>
        <!-- Buttons -->
        <div class="overlay__btns mx-auto">

          <button class="overlay__btn overlay__btn-small col-5 mx-auto"
            routerLinkActive="active" routerLink="/services">
            <span>{{ 'home.2' | translate }}</span>
            <span class="overlay__btn-emoji"></span>
          </button>

          <button class="overlay__btn overlay__btn--colors col-5 mx-auto" routerLinkActive="active"
            routerLink="/nos-biens">
            <span style="white-space: nowrap;">{{ 'home.3' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Carousel Wrapper-->