@media (min-width: 1200px) {
  .view {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .view {
    padding-top: 3em;
    height: 65vh;
  }
}

@media (min-width: 900px) {
.overlay {
  z-index: 1;
  margin-left: 1em;
  padding: 1.5rem 1.5rem;
  padding-top: 3em !important;
  align-items: center;
  background: rgba(255, 255, 255, 0.789);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter:blur(1em);
}
}


@media (max-width: 900px) {
  .overlay {
  z-index: 1;
  margin-left: 1em;
  padding: 1.5rem 1.5rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.789);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter:blur(1em);
  }
}

.overlay-min {
  z-index: 0;
  max-width: 1140px;
  max-height: 640px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay__title {
  font-size: 1.7rem;
  line-height: 2.75rem;
  color: #233353;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
  color: #233353;
}

.overlay__btns {
  width: 100%;
  max-width: 30rem;
  display: flex;
  color: #233353;
}

.overlay__btn {
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background: #233353;
  border: none;
  border-radius: 0.5rem;
  transition: transform 150ms ease;
  outline-color: hsl(var(--hue), 95%, 50%);
}

.overlay__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay__btn--transparent {
  background: white;
  color: #233353 !important;
  border: 2px solid #233353 !important;
  border-width: 2px;
  margin-right: 0.75rem;
}

.overlay__btn-emoji {
  margin-left: 0.450rem;
}

a {
  text-decoration: none;
  color: #233353;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }

  .overlay__btns {
    flex-wrap: wrap;
  }

  .overlay__btn {
    width: 100%;
    font-size: 0.75rem;
    margin-right: 0;
  }

  .overlay__btn:first-child {
    margin-bottom: 1rem;
  }
}

.box {
  margin-top: 16em;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.front {
  position: relative;
  margin-bottom: 5em;

}

.back {

  position: absolute;
}

@media (min-width: 1200px) {

  /* Full Page Carousel itself*/
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-inner {
    height: 90vh;
  }
}

@media (min-width: 1200px) {

  .carousel .carousel-inner .carousel-item,
  .carousel .carousel-inner .active {
    height: 100vh;
  }
}

.overlay__btn-small {
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  background-color: #EE5C5A;
  border: none;
  border-radius: 0.5rem;
  transition: transform 150ms ease;
  outline-color: hsl(var(--hue), 95%, 50%);
}



.bi-arrow-left-circle-fill{
  cursor: pointer;
  position: absolute;
  color : rgba(255, 255, 255, 0.562);
  left: 5%;
  font-size: 3em;
  opacity: 0.8;
  top: 50%;
}

.bi-arrow-right-circle-fill{
  cursor: pointer;
  position: absolute;
  color : rgba(255, 255, 255, 0.562);
  right: 5%;
  font-size: 3em;
  opacity: 0.8;
  top: 50%;
}


.bi-arrow-left-circle-fill:hover{
  opacity: 1;
}

.bi-arrow-right-circle-fill:hover{
  opacity: 1;
}

.carousel-caption{
  position: absolute;
}