.clickable{
    cursor: pointer;

}

.conditions{
  font-size: 0.8em;
}



input-group, app-slider{
  margin-left:2.5em;
  margin-right: 2.5em;
}


h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 2em;
}

p{
font-family: 'Source Sans Pro', sans-serif;
font-size: 1em;
margin-top: 2%;
}


h2, label{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  margin-left:1.3em;
}

i{
  font-size: 1.2em;
}

.shake:hover{
  animation-name: shakeAnim;
}

.shake{
animation-name: shake;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}