::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: #233353;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 12px;
      height: 12px;
      top: auto; /* to remove the default positioning */
      bottom: -2px;
      background-color: #333;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: orange;
    }
  }