.btn-outline-primary{
    background-color: #EE5C5A !important;
    color: white !important;
    border-color: #EE5C5A !important;
    border-radius: 20px;
    padding:0.8em;
}

.btn-outline-primary:hover{
    background-color: #233353 !important;
    border-color: #233353 !important;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.nodalview{
    height: 95vh;
}
