.btn-outline-primary{
    background-color: #EE5C5A !important;
    color: white !important;
    border-color: #EE5C5A !important;
    border-radius: 20px;
    padding:0.8em;
}

.btn-outline-primary:hover{
    background-color: #233353 !important;
    border-color: #233353 !important;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.nodalview{
    height: 95vh;
}

.btn-outline-primary {
	color: #233353 !important;
	border-color: #233353 !important;
	padding: 10px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	border-radius: 20px !important;
  }
  
  .btn-outline-primary:hover {
	color: white !important;
	background-color: #EE5C5A !important;
	border-color: #EE5C5A !important;
  }

  .btn-outline-danger {
    padding:none !important;
    text-transform: none !important;
    font-size: 0.8em !important;
    background-color: #EE5C5A !important;
    color: #ffff !important;
    border-radius: 20px !important;
    margin-top: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  @media screen and (max-width:992px) {
    .btn-outline-danger {
     font-size: 0.65em !important;
    }
  }
  
  .btn-outline-danger:focus {
    padding:none !important;
    text-transform: none !important;
    font-size: 0.8em !important;
    background-color: #EE5C5A !important;
    color: #ffff !important;
    border-radius: 20px !important;
    margin-top: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn-outline-danger:active {
    padding:none !important;
    text-transform: none !important;
    font-size: 0.8em !important;
    background-color: #EE5C5A !important;
    color: #ffff !important;
    border-radius:20px !important;
    margin-top: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  
  .btn-outline-danger:hover {
    padding:none !important;
    text-transform: none !important;
    font-size: 0.8em !important;
    background-color: #b94b4a !important;
    color: white !important;
  }

