h1{
    color: #233353;
    font-size: 46px;
    font-weight: 600;
    line-height: 51px;
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-outline-danger{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn-outline-danger:focus{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn-outline-danger:active{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  
  .btn-outline-danger:hover{
  font-size: 1.1em !important;
  background-color: #b94b4a !important;
  color: white !important;
  }

  .btn-secondary {
    font-size: 1em;
    background-color: #233353 !important;
    color: white !important;
    border: #233353;
    
    }

    .pt-lg-6{
      padding-top: 10em !important;
    }