h1{
    color: #233353;
    font-size: 46px;
    font-weight: 600;
    line-height: 51px;
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { h1 {font-size: 1.7em !important;
  font-weight: 600 !important;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { h1 {font-size: 2em  !important;
font-weight: 600 !important;

} 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { h1 {font-size: 2em  !important;
font-weight: 600 !important;
} 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { h1 {font-size: 46px  !important;
font-weight: 600 !important;} 
}



.btn-outline-danger{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn-outline-danger:focus{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn-outline-danger:active{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  margin-top: 20px!important;
  font-family: 'Montserrat', sans-serif !important;
  }
  
  
  .btn-outline-danger:hover{
  font-size: 1.1em !important;
  background-color: #b94b4a !important;
  color: white !important;
  }

  .btn-secondary {
    font-size: 1em;
    background-color: #233353 !important;
    color: white !important;
    border: #233353;
    
    }

    .pt-lg-6{
      padding-top: 10em !important;
    }