<app-navbar></app-navbar>
<div class="container-fluid pt-lg-6"> 
<app-avis *ngIf="ready"></app-avis>
</div>

<section id="realisations">
    <div class="container-fluid">
        <div class="row">
            <h2 class="col text-center">{{ 'realisations.1' | translate }}</h2>
        </div>
        <div class="row pb-5 mb-5" *ngIf="toShow">
            <div class="col-12">
                <app-view-property-list [numberProperty]="numberProperty" [propertyList]="toShow">
                </app-view-property-list>
            </div>
            <button *ngIf="lowerThan(numberProperty, toShow.length)" type="button"
                class="btn btn-outline-danger col-7 col-lg-3 text-center mx-auto" (click)="addProperties()">{{ 'realisations.1' | translate }}</button>
        </div>
    </div>

</section>

<app-footer></app-footer>