
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body{
    height: 100%;
}

.fullheight {
  height: 100vh
}

h2 {
  color: #233353 !important;
  font-size: 46px !important;
  font-weight: 600 !important;
  line-height: 51px !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}


.anim-wrap {
  overflow: hidden;
}
.slideInLeft {
  opacity: 0;
}
.slideInRight {
  opacity: 0;
}

span.anim-wrap,
span.slideInLeft {
  display: inline-block;
}

span.anim-wrap,
span.slideInRight {
  display: inline-block;
}


.play-left {
  animation-name: play-left;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}

.play-right {
  animation-name: play-right;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}
  

@keyframes play-left {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes play-right {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes maskOut {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(100%);
  }
}

.arrow{
  font-size: 3em;
  color:#233353;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.btn-braxel-rouge{
  font-size: 1.1em !important;
  background-color: #EE5C5A !important;
  color: #ffff !important;
  border-radius: 20px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.btn-outline-danger:hover{
  font-size: 1.1em !important;
  background-color: #b94b4a !important;
  color: white m !important;
}


