html, body{
    font-size: 14px;
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.fullheight {
  min-height: 100vh;
}

.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
}
.carousel-control-prev:hover.linear{
  background: linear-gradient(to right, black, transparent) !important;
}
.carousel-control-next:hover.linear{
  background: linear-gradient(to right, transparent, black) !important;
}
.carousel-control-next{
  opacity: 40% !important;
}
.carousel-control-prev{
  opacity: 40% !important;
}
.carousel-control-next-icon{
 background-image: url('https://apufpel.com.br/assets/img/seta_ult.png') !important;
}
.icon-chevron-right{
  font-size: 6em;
}
.icon-chevron-left{
  font-size: 6em;
}




.anim-wrap {
  overflow: hidden;
}
.slideInLeft {
  opacity: 0;
}
.slideInRight {
  opacity: 0;
}

span.anim-wrap,
span.slideInLeft {
  display: inline-block;
}

span.anim-wrap,
span.slideInRight {
  display: inline-block;
}


.play-left {
  animation-name: play-left;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}

.play-right {
  animation-name: play-right;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}
  

@keyframes play-left {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes play-right {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes maskOut {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(100%);
  }
}

