<app-navbar-admin></app-navbar-admin>
<div *ngIf="cards">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-md-2" *ngFor="let review of cards; let cardIndex = index">
                    <mdb-card class="my-1 rounded">
                        <mdb-card-body class="mt-2">
                            <mdb-card-title>
                                <h4 class="text-center">{{review.author_name}}</h4>
                                <div class="stars text-center pt-0 mt-0">
                                    <mat-icon>{{review.rating}}<i class="bi bi-star-fill"></i></mat-icon>
                                </div>
                            </mdb-card-title>
                            <p
                                class="text-justify mx-auto text-justify col-10 text-review pt-3 notshow mx-0 px-0 pb-0 mb-0">
                                {{review.text}}</p>
                            <p class="text-justify mx-auto col-10 mx-0 px-0 pt-0 mt-0">...</p>
                            <h6 class="text-center pt-1 pb-0 mb-0">{{ review.relative_time_description }}</h6>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
        
    </div>
</div>