<app-navbar></app-navbar>

<body style="background-color:#F6F6F6;">


  <section>
    <div class="video-container">
      <video autoplay width="1280" height="720">
        <source type="video/mp4" src="assets/img/home_6.mp4">
      </video>
    </div>

    <div class="header fullheight">

      <div class="container-fluid mt-md-5 pt-lg-0 pt-xl-3 pt-5 pt-md-0">
        <div class="row mt-md-5 pt-lg-3 pt-xl-4 col-md-9 mx-auto pb-5">
          <div class="col-12 col-lg-8 col-xl-6 pt-lg-5 pt-3">
            <h3>BRAXEL</h3>
            <h1 *ngFor="let text of texts">{{text.titre1}}</h1>
            <p>Vous avez trouvé vos agents immobiliers de confiance, en Brabants et à Bruxelles !</p>
            <a routerLinkActive="active" routerLink="/agence"><button type="button"
                class="btn btn-outline-danger col-10 col-lg-7">Découvrez notre méthode</button></a>
            <a routerLinkActive="active" routerLink="/services"><button type="button"
                class="btn btn-outline-safe mx-lg-3 col-10 col-lg-4">Vendre/Louer</button></a>


          </div>
        </div>
      </div>
    </div>



  </section>

  <section class="search">
    <div class="container-fluid">
      <div class="row py-lg-0 py-5">
        <div class="col-10 col-md-8 col-xxl-6 mx-auto mx-0 px-0">
          <div class="row mx-0 px-0 opacity ">
            <div class="col-12 text-center py-3 mx-0 px-0">
              JE CHERCHE À
            </div>
          </div>
          <div class="row col-12 mx-auto px-0">
            <a class="nav-link py-0 mx-0 px-0 col-6 col-md-4" routerLinkActive="active" routerLink="/services"><button
                type="button" class="btn btn-outline-secondary col-12">VENDRE</button></a>
            <a class="nav-link py-0 mx-0 px-0 col-6 col-md-4" routerLinkActive="active" routerLink="/services"><button
                type="button" class="col-12 btn btn-outline-secondary">ACHETER</button></a>
            <a class="nav-link py-0 mx-0 px-0 col-12 col-md-4" routerLinkActive="active" routerLink="/services"><button
                type="button" class="col-12 btn btn-outline-secondary">RECHERCHER DES BIENS</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nos-biens pt-5 mt-5">
    <div class="container">
      <div class="row">
        <h2 class="mx-auto text-center">NOS BIENS IMMOBILIERS
        </h2>
      </div>
      <app-view-property-list [numberProperty]="numberProperty"></app-view-property-list>
    </div>
  </section>

  <section class="agent-immobilier pt-5 mt-5">
    <div class="container">
      <div class="row">
        <h2 class="mx-auto text-center">VOS AGENTS IMMOBILIERS</h2>
        <p class="mx-auto text-center">AU-DELÀ DE 10 ANNÉES D’EXPÉRIENCE COMBINÉES, NOS AGENTS IMMOBILIERS SONT AGRÉÉS
          IPI
          ET
          VOUS ACCUEILLENT AVEC PASSION.</p>
      </div>
      <div class="row presentation">
        <div class="col-md-4 col-sm-4">
          <div class="box1 pb-0 mb-0">
            <img src="assets/img/worker-1.jpg" alt="">
            <h3 class="title">Agent immobilier agréé I.P.I. 508.871</h3>
            <ul class="icon">
              <li><a href="https://www.linkedin.com/in/edouard-chevalier-027761b3/"><i class="bi bi-linkedin"></i></a>
              </li>
              <li><a href="mailto:edouard@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
            </ul>
          </div>
          <div class="text-center">
            <h4 class="mt-3">Edouard Chevalier</h4>
            <a routerLink="/agence" [fragment]="'edouard'">
              <h5>Plus d'infos</h5>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box1 pb-0 mb-0">
            <img src="assets/img/worker-2.jpg" alt="">
            <h3 class="title">Agent immobilier agréé I.P.I. 509.783</h3>
            <ul class="icon">
              <li><a href="https://www.linkedin.com/in/thomas-offergeld-89277b137/"><i class="bi bi-linkedin"></i></a>
              </li>
              <li><a href="mailto:thomas@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
            </ul>
          </div>
          <div class="text-center">
            <h4 class="mt-3">Thomas Offergeld</h4>
            <a routerLink="/agence" [fragment]="'thomas'">
              <h5>Plus d'infos</h5>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box1 pb-0 mb-0">
            <img src="assets/img/worker-3.jpg" alt="">
            <h3 class="title">Agent immobilier agréé I.P.I. 509.783</h3>
            <ul class="icon">
              <li><a href="https://www.linkedin.com/in/thomas-offergeld-89277b137/"><i class="bi bi-linkedin"></i></a>
              </li>
              <li><a href="mailto:thomas@braxel.be"><i class="bi bi-envelope-fill"></i></a></li>
            </ul>
          </div>
          <div class="text-center">
            <h4 class="mt-3">François</h4>
            <a routerLink="/agence" [fragment]="'francois'">
              <h5>Plus d'infos</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="chiffres container-fluid mb-0">
    <div class="row">
      <div class="col-8 col-md-4 text-center mx-auto">
        <h1>42</h1>
        <h2>jours</h2>
        <p>Durée moyenne de vente</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <h1>94,5</h1>
        <h2>%</h2>
        <p>Dossiers activés et vendus</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <h1>3,5</h1>
        <h2>%</h2>
        <p>Taux de négociation moyen</p>
      </div>
    </div>
  </div>
</body>
<app-avis></app-avis>
<app-footer></app-footer>