<app-navbar></app-navbar>

<app-carousel-home></app-carousel-home>


<app-agents></app-agents>


<div id="chiffres" class="chiffres container-fluid mb-5">
  <div>
    <div class="row">
      <div class="col-8 col-md-4 text-center mx-auto white" >
        <h2 class="text-white" [countUp]="23" [options]="{ enableScrollSpy: true }">0</h2>
        <h2 class="text-white"> {{ 'home.10' | translate }}</h2>
        <p>{{ 'home.11' | translate }}</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <h2 class="text-white" [countUp]="94.5" [options]="{ enableScrollSpy: true, decimalPlaces:1}">0</h2>
        <h2 class="text-white">%</h2>
        <p>{{ 'home.12' | translate }}</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <h2 class="text-white" [countUp]="3.81" [options]="{ enableScrollSpy: true, decimalPlaces:2}">0</h2>
        <h2 class="text-white"> %</h2>
        <p>{{ 'home.13' | translate }} </p>
      </div>
    </div>
  </div>
</div>
<app-avis></app-avis>

<section class="nos-biens pt-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <h2 class="mx-auto text-center">{{ 'home.14' | translate }}</h2>
    </div>
    <app-view-property-list *ngIf="toShow" [numberProperty]="numberProperty" [propertyList]="toShow"></app-view-property-list>
    <div class="row">
      <a class="mx-auto" routerLink="/nos-biens"><button type="button" class="btn btn-outline-danger rounded-pill mb-5">{{ 'home.15' | translate }}</button></a>
    </div>
  </div>
</section>

<app-footer></app-footer>