<app-navbar></app-navbar>

<app-carousel-home></app-carousel-home>



<app-agents></app-agents>


<div id="chiffres" class="chiffres container-fluid mb-5">
  <div *ngIf="showChiffres">
    <div class="row">
      <div class="col-8 col-md-4 text-center mx-auto">
        <ng2-odometer class="compteur" [number]="23" [config]="{ }"></ng2-odometer>
        <h2> jours</h2>
        <p>Délai moyen de vente</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <ng2-odometer class="compteur" [number]="94.5" [format]="'(ddd),d'"></ng2-odometer>
        <h2> %</h2>
        <p>Dossiers activés et vendus</p>
      </div>
      <div class="col-8 col-md-4 text-center mx-auto">
        <ng2-odometer class="compteur" [number]="3.81" [format]="'(ddd),d'"></ng2-odometer>
        <h2> %</h2>
        <p>Négociation moyenne sur prix affiché </p>
      </div>
    </div>
  </div>
</div>
<app-avis></app-avis>

<section class="nos-biens pt-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <h2 class="mx-auto text-center">NOS BIENS IMMOBILIERS
      </h2>
    </div>
    <app-view-property-list [numberProperty]="numberProperty" [propertyList]="toShow"></app-view-property-list>
    <div class="row">
      <a class="mx-auto" routerLink="/nos-biens"><button type="button" class="btn btn-outline-secondary">Tous nos
          biens</button></a>
    </div>
  </div>
</section>

<app-footer></app-footer>