/* Header */
/*.header{
    background-image: url('/assets/img/bg.png');
    background-size: 24%;
    background-repeat: no-repeat;
    background-position: right 25% bottom 40%;

}
*/

hr {
  border-top: 0.075em solid #233353;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;

}

h2 {
  color: BLACK;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
}

h3 {
  color: #ffff;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4.5em;
}


.btn-outline-danger:active {
  color: white !important;
  background-color: #EE5C5A !important;
  border-color: #EE5C5A !important;
}

.btn-outline-secondary {
  color: #233353 !important;
  font-size: 1.3em !important;
  font-weight: 500 !important;
  border-color: #233353 !important;
  text-transform: none;
  padding: 0.5em !important;
  border-radius: 20px !important;
  margin-bottom: 4em;
  margin-top:1em;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: #EE5C5A !important;
  border-color: #EE5C5A !important;
}

/* Nos biens immobiliers */
.nos-biens h2 {
  color: #233353;
  font-size: 46px;
  font-weight: 600;
  line-height: 51px;
  font-family: 'Source Sans Pro', sans-serif;
}


h4 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #233353;
  font-size: 15px;
  text-decoration: underline;
}

.chiffres {
  padding: 10%;
  background-image: url('/assets/img/banner_chiffre.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 45%;
}

.compteur {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  font-weight: 800;
  display: inline;
}

.chiffres h2 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: 800;
  display: inline;
}

.chiffres p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

